<div ng-if="isFirst" class="kibi-dashboards-nav-dummy-container drag-after"
     ng-class="{ hovered: state.hovered }"
     dashboard-dummy-container="{{ DUMMY_PLACEHOLDER_FIRST_GROUP }}"
     state="state">
</div>
<div class="kibi-dashboards-nav-edit-link-group"
     dashboard-draggable-item="group"
     state="state"
     id="kibi-dashboard-group-{{ group.id }}">
  <div ng-class="{
      'dashboard-group': !group.virtual,
      'dashboard': group.virtual,
      'active': group.id === dashboardLoaded,
      'highlight': (group.collapsed && doesGroupHaveAnyHighlightedDashboard(group.dashboards))
                || (group.virtual && dashboardIsHighlighted(group.selected))
    }">
    <div class="icon" ng-if="!group.virtual">
      <i
         ng-if="group.iconCss"
         class="icon-image {{ group.iconCss }}"
      ></i>

      <img
         ng-if="group.iconUrl"
         class="icon-image"
         ng-src="{{ group.iconUrl }}"
      />

      <span
         ng-if="!group.iconCss && !group.iconUrl"
         class="icon-placeholder"
      >
         {{ group.title[0] }}
      </span>
    </div>

    <div
      class="edit-content"
      ng-click="selectDashboard()"
      kibi-context-menu kibi-context-menu-list="contextMenuGroup"
      kibi-context-menu-click-menu="clickMenuGroup(item)"
    >
      <div
        kibi-context-menu kibi-context-menu-list="contextMenuVirtualGroup"
        kibi-context-menu-click-menu="clickMenuVirtualGroup(item)"
      >
        <div ng-mouseenter="refreshTooltipContent($event, group)">
          <div class="title"
               ng-class="{
                 'collapsed': !isSidebarOpen,
                 'dashboard-nav-title-virtual-group': group.virtual,
                 'no-indicators': !group.selected.savedSearchId
               }">
            {{ group.title }}
          </div>
          <div ng-if="!group.virtual" class="action">
            <i ng-if="group.collapsed" class="fa fa-plus"></i>
            <i ng-if="!group.collapsed" class="fa fa-minus"></i>
          </div>
          <div class="indicators" ng-if="group.virtual" ng-mouseenter="refreshTooltipIndicator($event, group)">
            <!--dashboard count-->
            <span ng-if="group.selected.count !== undefined && group.selected.savedSearchId">
              <kibi-human-readable-number value="group.selected.count" format="0.[0]a"></kibi-human-readable-number>
            </span>

            <span ng-if="group.selected.count === undefined && group.selected.savedSearchId">
              <div class="spinner">
                <div class="cube1"></div>
                <div class="cube2"></div>
              </div>
            </span>
            </span>
            <!--filters indicator-->
            <span ng-if="group.selected.filterIconMessage && group.selected.dirty" aria-hidden="true">
              <i class="fa fa-filter"
                 ng-mouseenter="refreshFilterTooltip($event, group)"
                 ng-mouseleave="hideFilterTooltip()"/>
            </span>
            <!--join pruning indicator-->
            <span ng-if="group.selected.isPruned" aria-hidden="true" data-toggle="tooltip"
                  data-placement="bottom"
                  title="Notice: This is a sample of the results because join operation was pruned"> *
            </span>
          </div>
          <div
            class="action dashboards-nav-edit-link-dragbar"
            dashboard-draggable-handle
          >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!group.virtual && !group.collapsed">
    <div ng-repeat="dashboard in group.dashboards | filter: { title: filter }">
      <div class="dashboards-nav-edit-link-dashboard"
        ng-class="{
          'active': dashboard.id === dashboardLoaded,
          'highlight': dashboardIsHighlighted(dashboard)
        }"
        ng-click="selectDashboard($index)"
        dashboard-draggable-item="$index" state="state"
      >
        <div
          kibi-context-menu kibi-context-menu-list="contextMenuDashboard"
          kibi-context-menu-click-menu="clickMenuDashboard(item, dashboard)"
        >
          <div ng-mouseenter="refreshTooltipContent($event, $index, true)">
            <div class="dashboards-nav-edit-link-dragbar" ng-class="{ collapsed: !isSidebarOpen }" dashboard-draggable-handle>
            </div>
            <div class="dashboard-nav-title" ng-class="{ collapsed: !isSidebarOpen, 'no-indicators': !dashboard.savedSearchId }">
              {{ dashboard.title }}
            </div>
            <div class="indicators" ng-mouseenter="refreshTooltipIndicator($event, $index, true)">
              <!--dashboard count-->
              <span ng-if="dashboard.count !== undefined && dashboard.savedSearchId">
                <kibi-human-readable-number value="dashboard.count" format="0.[0]a"></kibi-human-readable-number>
              </span>
              <span ng-if="dashboard.count === undefined && dashboard.savedSearchId">
                <div class="spinner">
                  <div class="cube1"></div>
                  <div class="cube2"></div>
                </div>
              </span>
              <!--filters indicator-->
              <span ng-if="dashboard.filterIconMessage && dashboard.dirty" aria-hidden="true">
                 <i class="fa fa-filter"
                   ng-mouseenter="refreshFilterTooltip($event, $index, true)"
                   ng-mouseleave="hideFilterTooltip()"/>
              </span>
              <!--join pruning indicator-->
              <span ng-if="dashboard.isPruned" aria-hidden="true" data-toggle="tooltip"
                    data-placement="bottom"
                    title="Notice: This is a sample of the results because join operation was pruned"> *
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="group.dashboards.length === 0 && !group.virtual" class="kibi-dashboards-nav-dummy-container drag-dashboard"
       ng-class="{ hovered: state.hovered }" dashboard-dummy-container="{{ DUMMY_PLACEHOLDER_BETWEEN_DASHBOARDS }}" state="state">
  </div>
</div>
<div class="kibi-dashboards-nav-dummy-container drag-after"
     ng-class="{ hovered: state.hovered }" dashboard-dummy-container="{{ DUMMY_PLACEHOLDER_BETWEEN_GROUPS }}" state="state">
</div>
