<div
  class="dashboards-nav-link {{classes}}"
  ng-class="{ active: isActive && isDashboardLoaded }"
  tooltip="{{ tooltipContent }}"
  tooltip-placement="right"
  tooltip-popup-delay="0"
  tooltip-append-to-body="1"
>
  <!-- title is empty in order to prevent displaying the title from the parent -->
  <a
    title=""
    class="anchor"
    ng-click="onClick({ $event: $event })"
  >
    <div ng-if="showIcon" class="icon">
      <i
         ng-if="iconCss"
         class="icon-image {{iconCss}}"
      ></i>

      <img
         ng-if="iconUrl"
         class="icon-image"
         ng-src="{{iconUrl}}"
      />

      <span
         ng-if="!iconCss && !iconUrl"
         class="icon-placeholder"
      >
         {{ title[0] }}
      </span>
    </div>

    <div class="title">
      {{ title }}
      <span ng-if="count !== undefined">({{count}})</span>
      <span ng-if="count === undefined && countSpinner" class="spinner"></span>
      <span
        ng-if="filterIconMessage"
        aria-hidden="true"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{filterIconMessage}}"
      >
        <i class="fa fa-filter"/>
      </span>
      <span
        ng-if="isPruned"
        aria-hidden="true"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Count may be lower than the actual value because a join operation was pruned"
      >
        <i class="fa fa-star"></i>
      </span>
    </div>
  </a>

  <!--subnav-->
  <ng-transclude></ng-transclude>
</div>
