@import (reference) "~ui/kibi/styles/kibi_variables";
@import (reference) "~ui/styles/variables";
@import (reference) "../variables";

@dropdown-icon-width: 15px;
@icon-width: 25px;

.dashboards-nav-link {
  background-color: @dashboard-inactive-background;
  height: @dashboard-height;
  clear: both;

  width: @dashboards-nav-closed-width;
  .is-dashboards-nav-open & {
    width: @dashboards-nav-open-width;
  }

  .dropdown-icon-alone {
    width: @dropdown-icon-width;
    float: right;
  }

  .dashboard-select {
    display: none;

    .is-dashboards-nav-open & {
      display: inline-block;
      color: @black;
      background-color: @white;
      border-width: 1px;
      border-color: @kibi-menu-template-border-dark;
      border-style: solid;
      padding: 2px 4px;
      border-radius: 2px;
      width: calc(@dashboards-nav-open-width - @dashboards-nav-closed-width - 10px); // some space on the right
      line-height: @dashboard-line-height;
      margin-top: 4px;

      .dropdown-icon {
        width: @dropdown-icon-width;
        float: right;
        margin-top: 6px;
      }

      .text {
        width: calc(@dashboards-nav-open-width - @dashboards-nav-closed-width - @dropdown-icon-width - 25px); // some space on the right + extra space for the dropdown icon
        float: left;
        padding-left: 3px;
      }
    }
  }

  &.highlight {
    background-color: @gray7
  }

  &:hover,
  &.active {
    background-color: @dashboard-active-background;
    .anchor {
      color: @white;
      text-decoration: none;
    }
  }

  .anchor {
    display: block;
    height: 100%;
    color: #ebf7fa;
    &:focus {
      color: @white;
    }
  }

  .icon {
    float: left;
    display: inline-block;
    width: @icon-width;
    height: @dashboard-height;
    text-align: center;
    color: @white;
  }

  /**
   * This image is used to display the icon.
   */
  .icon-image {
    height: 18px;
    margin-top: 12px;
  }

  /**
   * This placeholder text gets shown if there is no specified icon.
   */
  .icon-placeholder {
    line-height: @dashboard-height;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .content {
    width: calc(@dashboards-nav-closed-width - @icon-width);
    font-size: 0.9em;
    line-height: @dashboard-height;

    .is-dashboards-nav-open & {
      width: calc(@dashboards-nav-open-width - @icon-width);
    }
  }

  .indicators {
    padding-left: 3px;
    font-weight: bold;
    text-align: left;
    float: left;
    display: list-item;

    width: calc(@dashboards-nav-closed-width - @icon-width);
  }

  .title {
    display: none;
    .is-dashboards-nav-open & {
      width: calc(@dashboards-nav-open-width - @dashboards-nav-closed-width);
      display: inline-block;
      text-align: left;
      padding-left: 3px;
      padding-right: 3px;
      float: left;
    }
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
