<div
  class="dashboards-nav-link"
  ng-class="{ active: group.active && isDashboardLoaded, highlight: doesGroupHasAnyHiglightedDashboard(group.dashboards) }"
>
  <a
    class="anchor"
    ng-click="selectDashboard()"
    tooltip="{{ tooltipContent }}"
    tooltip-placement="right"
    tooltip-popup-delay="0"
    tooltip-append-to-body="1"
  >
    <div class="icon">
      <i
         ng-if="group.iconCss"
         class="icon-image {{group.iconCss}}"
      ></i>

      <img
         ng-if="group.iconUrl"
         class="icon-image"
         ng-src="{{group.iconUrl}}"
      />

      <span
         ng-if="!group.iconCss && !group.iconUrl"
         class="icon-placeholder"
      >
         {{ group.title[0] }}
      </span>
    </div>

    <div class="content">
      <div class="indicators">
          <!--dashboard count-->
          <span ng-if="group.selected.count !== undefined">{{countHumanNotation}}</span>
          <span ng-if="group.selected.count === undefined" class="spinner"></span>
        <!--filters indicator-->
        <span
           ng-if="group.selected.filterIconMessage"
           aria-hidden="true"
           data-toggle="tooltip"
           data-placement="bottom"
           title="{{group.selected.filterIconMessage}}"
           >
           <i class="fa fa-filter"/>
        </span>
          <!--join pruning indicator-->
          <span
              ng-if="group.selected.isPruned"
              aria-hidden="true"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Count may be lower than the actual value because a join operation was pruned"
              >
              <i class="fa fa-star"></i>
          </span>
          <!--dashboard in group menu-->
          <div class="dropdown-icon-alone"
               ng-if="!isSidebarOpen && group.dashboards.length > 1"
               kibi-menu-template="groupMenuTemplate"
               kibi-menu-template-on-show-fn="toggleGroupNav()"
               kibi-menu-template-locals="groupMenuLocals"
          >
            <i class="fa fa-sort"/>
          </div>
          <div ng-if="!isSidebarOpen" class="truncate" ng-if="group.dashboards.length === 1">{{group.title}}</div>
      </div>

      <div class="title">
        <!--dashboard in group menu-->
        <div class="truncate" ng-if="group.dashboards.length === 1">{{group.title}}</div>
        <div class="dashboard-select"
             ng-if="group.dashboards.length > 1"
             kibi-menu-template="groupMenuTemplate"
             kibi-menu-template-on-show-fn="toggleGroupNav()"
             kibi-menu-template-locals="groupMenuLocals"
        >
          <div class="text truncate">{{ group.title }} ({{ group.selected.title }})</div>
          <i class="dropdown-icon fa fa-sort"/>
        </div>
      </div>
    </div>
  </a>

</div>
