@import (reference) "~ui/styles/variables";
@import (reference) "../variables";

@icon-width: 25px;

.dashboards-nav-link {
  background-color: @dashboard-inactive-background;
  height: @dashboard-height;
  clear: both;

  width: @dashboards-nav-closed-width;
  .is-dashboards-nav-open & {
    width: @dashboards-nav-open-width;
  }

  &.subnav {
    width: calc(@dashboards-nav-open-width - @icon-width);
    line-height: @dashboard-line-height;
    margin-left: @icon-width;
    background-color: @dashboard-subnav;

    .title {
      width: calc(@dashboards-nav-open-width - @icon-width);
    }

  }

  &:hover,
  &.active {
    background-color: @dashboard-active-background;
    .anchor {
      color: @white;
      text-decoration: none;
    }
  }

  .anchor {
    float: left;
    display: block;
    height: 100%;
    color: #ebf7fa;
    &:focus {
      color: @white;
    }
  }

  .icon {
    float: left;
    display: inline-block;
    width: @icon-width;
    height: @dashboard-height;
    text-align: center;
    color: @white;
  }

  /**
   * This image is used to display the icon.
   */
  .icon-image {
    height: 18px;
    margin-top: 12px;
  }

  /**
   * This placeholder text gets shown if there is no specified icon.
   */
  .icon-placeholder {
    line-height: @dashboard-height;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .content {
    width: calc(@dashboards-nav-closed-width - @icon-width);
    font-size: 0.9em;
    line-height: @dashboard-height;

    .is-dashboards-nav-open & {
      width: calc(@dashboards-nav-open-width - @dropdown-width - @icon-width);
    }
  }

  .indicators {
    padding-left: 3px;
    font-weight: bold;
    text-align: left;
    float: left;
    display: list-item;

    .is-dashboards-nav-open & {
      width: calc(@dashboards-nav-closed-width - @icon-width);
    }
  }

  .title {
    display: none;
    .is-dashboards-nav-open & {
      width: calc(@dashboards-nav-open-width - @dashboards-nav-closed-width - @dropdown-width);
      display: inline-block;
      text-align: left;
      padding-left: 3px;
      float: left;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      border-left: #777777 solid 2px;
    }
  }
}
