<form
  role="form"
  class="kuiVerticalRhythm"
>
  <!--kibi: filter visualizations based on the savedSearchId -->
  <div class="kuiBar">
    <div class="fullWidth">
      <div ng-if="kibi.onDashboardPage && type === 'visualizations'" class="visualisation-filter-checkbox">
        <input ng-if="savedSearchId" type="checkbox" ng-model="kibi.basedOnSameSavedSearch"/>
        <label class="based-saved-search" ng-if="savedSearchId">
          Show only visualization linked to the saved search "{{savedSearchId}}".
        </label>
        <input ng-if="!savedSearchId" type="checkbox" disabled/>
        <label ng-if="!savedSearchId">
          To be able to filter by saved search, set a saved search when saving this dashboard.
        </label>
      </div>
    </div>
  </div>
  <!-- kibi: end -->

  <div class="kuiBar">
    <div class="kuiBarSection">
      <div class="kuiSearchInput fullWidth">
        <div class="kuiSearchInput__icon kuiIcon fa-search"></div>
        <input
          class="kuiSearchInput__input"
          input-focus
          ng-model="filter"
          ng-attr-placeholder="{{ finder.properties.nouns | label }} Filter..."
          ng-keydown="finder.filterKeyDown($event)"
          name="filter"
          type="text"
          autocomplete="off"
        >
      </div>
    </div>

    <div class="kuiBarSection">
      <!-- kibi: counts have been moved inside the pagination managed DOM -->

      <div class="kuiButtonGroup">
        <button
          class="kuiButton kuiButton--basic"
          ng-if="onAddNew"
          ng-click="onAddNew()"
          data-test-subj="addNewSavedObjectLink"
        >
          Add new {{ finder.properties.noun }}
        </button>

        <button
          class="kuiButton kuiButton--basic"
          ng-if="!useLocalManagement"
          ng-click="finder.manageObjects(finder.properties.name)"
        >
          Manage {{ finder.properties.nouns }}
        </button>
      </div>
    </div>
  </div>
</form>

<!-- kibi: show 8 results per page -->
<paginate
  list="finder.hits"
  per-page="8"
  class="kuiVerticalRhythm"
>
  <ul class="li-striped list-group list-group-menu" ng-class="{'select-mode': finder.selector.enabled}">
    <li class="list-group-item" ng-click="finder.sortHits(finder.hits)">
      <span class="paginate-heading">
        Name
        <span
          class="fa"
          ng-class="finder.isAscending ? 'fa-caret-up' : 'fa-caret-down'">
        </span>
      </span>
    </li>
    <li
      class="list-group-item list-group-menu-item"
      ng-class="{'active': finder.selector.index === $index && finder.selector.enabled}"
      ng-repeat="hit in page"
     ng-keydown="finder.hitKeyDown($event, page, paginate)"
      ng-click="finder.onChoose(hit, $event)">

      <a ng-href="{{finder.makeUrl(hit)}}"
          ng-blur="finder.hitBlur($event)"
          ng-click="finder.preventClick($event)">
          <span aria-hidden="true" class="finder-type fa" ng-if="hit.icon" ng-class="hit.icon"></span>
          <!-- kibi: style the title to differentiate it from the description -->
          <span ng-class="kibiTitle">
            {{hit.title}}
          </span>
          <p ng-if="hit.description" ng-bind="hit.description"></p>
      </a>
    </li>
    <li
      class="list-group-item list-group-no-results"
      ng-if="finder.hits.length === 0">
      <p ng-bind="'No matching ' + finder.properties.nouns + ' found.'"></p>
    </li>
  </ul>
  <!-- kibi: keep page info inside pagination -->
  <div class="finder-hit-count" ng-if="finder.perPage < finder.hitCount">
    <span>{{ finder.hitCount }} {{ finder.properties.nouns }}</span>
  </div>
  <!-- kibi: end -->
</paginate>
