<form role="form" class="form-inline">
  <div class="container-fluid">
    <!--kibi: filter visualizations based on the savedSearchId -->
    <div class="row" ng-if="kibi.onDashboardPage && type === 'visualizations'">
      <div class="input-group form-group finder-form col-md-7">
        <div class="visualisation-filter-checkbox">
          <input ng-if="savedSearchId" type="checkbox" ng-model="kibi.basedOnSameSavedSearch" />
          <label class="based-saved-search" ng-if="savedSearchId">
            Based on the saved search of the current dashboard: {{savedSearchId}}
          </label>
          <input ng-if="!savedSearchId" type="checkbox" disabled/>
          <label class="based-saved-search" ng-if="!savedSearchId">
            To be able to filter visualisations based on dashboard's saved search
            - associate a saved search when saving this dashboard
          </label>
        </div>
      </div>
    </div>
    <!-- kibi: end -->

    <div class="row">
      <div class="input-group form-group finder-form col-md-7">
        <span class="input-group-addon savedObjectFinderSearchIcon">
          <span class="fa fa-search"></span>
        </span>
        <input
          input-focus
          ng-model="filter"
          ng-attr-placeholder="{{finder.properties.nouns | label }} Filter..."
          ng-keydown="finder.filterKeyDown($event)"
          class="form-control"
          name="filter"
          type="text"
          autocomplete="off"
        />
      </div>
      <div class="finder-hit-count col-md-2">
        <span>{{finder.hitCount}} of {{finder.hitCount}}</span>
      </div>
      <div class="finder-manage-object col-md-2" ng-if="onAddNew">
        <a class="small" ng-click="onAddNew()">
          Add new {{finder.properties.noun}}
        </a>
      </div>
      <div class="finder-manage-object col-md-2" ng-if="!useLocalManagement">
        <a class="small" ng-click="finder.manageObjects(finder.properties.name)">
          Manage {{finder.properties.nouns}}
        </a>
      </div>
    </div>
  </div>
</form>
<paginate list="finder.hits" per-page="8">
  <ul class="li-striped list-group list-group-menu" ng-class="{'select-mode': finder.selector.enabled}">
    <li class="list-group-item" ng-click="finder.sortHits(finder.hits)">
      <span class="paginate-heading">
        Name
        <span
          class="fa"
          ng-class="finder.isAscending ? 'fa-caret-up' : 'fa-caret-down'">
        </span>
      </span>
    </li>
    <li
      class="list-group-item list-group-menu-item"
      ng-class="{'active': finder.selector.index === $index && finder.selector.enabled}"
      ng-repeat="hit in page"
      ng-keydown="finder.hitKeyDown($event, page, paginate)"
      ng-click="finder.onChoose(hit, $event)">

      <a ng-href="{{finder.makeUrl(hit)}}"
          ng-blur="finder.hitBlur($event)"
          ng-click="finder.preventClick($event)">
          <i aria-hidden="true" class="finder-type fa" ng-if="hit.icon" ng-class="hit.icon"></i>
          <!-- kibi: style the title to differentiate it from the description -->
          <span ng-class="kibiTitle">
            {{hit.title}}
          </span>
          <!-- kibi: end -->
          <p ng-if="hit.description" ng-bind="hit.description"></p>
      </a>
    </li>
    <li
      class="list-group-item list-group-no-results"
      ng-if="finder.hits.length === 0">
      <p ng-bind="'No matching ' + finder.properties.nouns + ' found.'"></p>
    </li>
  </ul>
  <div class="finder-hit-count">
     <span>{{paginationCount}} of {{finder.hitCount}}</span>
  </div>
</paginate>
