<div class="kibi-dashboard-switcher">
  <div class="no-groups" ng-if="groups.length === 0">No dashboards ...</div>

  <div
    ng-if="groups.length !== 0"
    dashboard-draggable-container="groups"
    ng-disabled="isSaving"
    ng-class="{ 'dashboard-switcher-disabled': isSaving }"
  >
    <dashboard-nav-edit-link
      ng-repeat="group in groups | kibiGroupFilter: filter | orderBy: 'priority'"
      group="group"
      filter="filter"
      is-first="$first"
    ></dashboard-nav-edit-link>
  </div>
</div>
