<dashboard-nav-link
  ng-repeat="group in groups | orderBy: 'priority'"
  is-active="group.active"
  on-click="group.selected.onSelect(groups)"
  tooltip-content="getTooltip(group.title)"
  title="group.title"
  count="group.selected.count"
  is-pruned="group.selected.isPruned"
  filter-icon-message="group.selected.filterIconMessage"
  icon-css="group.iconCss"
  icon-url="group.iconUrl"
  show-icon="true"
>
  <a
     ng-show="group.dashboards.length > 1"
     ng-click="openSubNav = !openSubNav && toggleGroupNav(group)"
     class="dropdown-icon"
     title=""
     tooltip="Show dashboards of the &quot;{{ group.title }}&quot; group"
     tooltip-placement="right"
     tooltip-popup-delay="0"
     tooltip-append-to-body="1"
  >
    <i class="fa fa-level-down"></i>
  </a>

  <dashboard-nav-link
     ng-if="openSubNav"
     classes="subnav"
     ng-repeat="dashboard in group.dashboards | filter: filter : false : 'title'"
     is-active="isActiveSubDashboard(group, dashboard)"
     on-click="dashboard.onSelect(groups)"
     title="dashboard.title"
     count-spinner="true"
     count="dashboard.count"
     is-pruned="dashboard.isPruned"
     filter-icon-message="dashboard.filterIconMessage"
     show-icon="false"
  ></dashboard-nav-link>
</dashboard-nav-link>
