<dashboard-nav-link
  ng-repeat="group in groups | orderBy: 'priority'"
  is-active="group.active"
  tooltip-content="getTooltip(group.title)"
  title="group.title"
  on-click="group.selected.onSelect(groups)"
  icon-css="group.iconCss"
  icon-url="group.iconUrl"
  show-icon="true"
>
  <a
     ng-disabled="group.dashboards.length <= 1"
     ng-click="openSubNav = group.dashboards.length > 1 && !openSubNav"
     ng-class="{ disabled: group.dashboards.length <= 1 }"
     class="dropdown-icon"
     title="{{ group.title }}"
  >
    <i class="fa fa-level-down"></i>
  </a>

  <dashboard-nav-link
     ng-if="openSubNav"
     classes="subnav"
     ng-repeat="dashboard in group.dashboards | filter: filter : false : 'title'"
     title="dashboard.title"
     on-click="dashboard.onSelect(groups)"
     is-active="isActiveSubDashboard(group, dashboard)"
     show-icon="false"
  ></dashboard-nav-link>
</dashboard-nav-link>
