<div class="kibi-new-dashboard-confirm kuiModal" data-test-subj="confirmModal">
  <div class="kuiModalHeader">
    <div class="kuiModalHeader__title" data-test-subj="confirmModalTitleText">
      Create a new dashboard
    </div>
    <div
      class="kuiModalHeaderCloseButton kuiIcon fa-times"
      data-test-subj="confirmModalCloseButton"
      ng-click="onClose()"
    ></div>
  </div>
  <form
    role="form"
    ng-submit="onConfirm()"
  >
    <input
      class="kuiLocalDropdownInput"
      id="dashboardTitle"
      type="text"
      ng-model="title"
      placeholder="Dashboard title"
      input-focus="select"
    >

    <div class="form-group">
      <label>Current saved search:</label>
      {{ savedSearchDescription() }}
    </div>

    <div class="form-group">
      <label>Select saved search <a ng-click="toggleExplanation()">Why?</a></label>

      <div ng-show="showExplanation" class="dashboard-explanation form-group">
        <p>
          Add a Saved Search to a dashboard to:
        </p>
        <ul>
          <li>Display a count of results (e.g. the hits on that saved search)</li>
          <li>Populate the dashboard with meaningful Widgets - filtering by clicking on the widget will always work coherently</li>
          <li>Enable relational navigation across Dashboards (Set to Set navigation)</li>
        </ul>
        <p>
          Dashboards without a Saved Search will be typically used only for cross index "summary pages".
        </p>
        <p>
          Note: To create a Saved Search from one of your Index Patterns, use the <a ng-click="jumpToDiscover()">Discovery</a> page.
        </p>
      </div>

      <kibi-select object-type="search" ng-model="savedSearchId"></kibi-select>
    </div>

    <button type="submit" ng-disabled="!title" class="btn btn-primary" data-test-subj="confirmModalConfirmButton" aria-label="Create dashboard">
      Create
    </button>
  </form>
</div>
