<kbn-management-app>
  <kbn-management-landing>
    <!-- General info -->
    <div class="page-row">
      <div class="page-row-text">Version: {{::kbnVersion}}</div>
    </div>

    <!-- Management sections for the ES stack -->
    <div
      ng-if="section.items.length > 0"
      ng-repeat="section in sections"
      ng-class="{ 'management-section-info-expanded': section.showInfo }"
      class="page-row"
    >
      <div class="panel panel-product management-panel-product">
        <div class="panel-heading panel-heading-{{::section.id}}">
          {{::section.display}}

          <i
            class="fa fa-info-circle pull-right panel-heading-icon"
            ng-click="section.showInfo = !!!section.showInfo"
            ng-if="section.info">
          </i>
        </div>

        <div class="panel-body">
          <div class="row">
            <ul class="management-section-items list-unstyled">
              <li
                class="col-xs-4 col-md-3"
                ng-repeat="item in section.items.inOrder"
              >
                <a
                  class="management-link"
                  ng-class="{ 'is-management-link-disabled': !item.url }"
                  kbn-href="{{::item.url}}"
                  tooltip="{{::item.tooltip}}"
                  tooltip-placement="bottom"
                  tooltip-popup-delay="400"
                  tooltip-append-to-body="1"
                >
                  {{::item.display}}
                </a>
              </li>
            </ul>
          </div>
          <div class="management-section-info">
            <!-- siren: about section improved -->
            <div class="kbn-settings-about container">
              <div class="col-md-6 col-md-offset-3 jumbotron">
                <center>
                  <div class="about-kibi-logo"></div>
                  <h2>Kibi</h2>
                  <p></p>
                  <table class="table table-condensed kbn-settings-about-versions">
                    <tbody>
                      <tr>
                        <td>Version</td>
                        <td>{{::kbnVersion}}</td>
                      </tr>
                      <tr>
                        <td>Build</td>
                        <td>{{::section.info.build}}</td>
                      </tr>
                      <tr>
                        <td>Commit SHA</td>
                        <td>{{::section.info.sha}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <p></p>
                  <small>© 2015-2017 All Rights Reserved - SIREn Solutions</small>
                  <br>
                  <br>
                  <small>Kibana is a trademark of Elasticsearch BV, registered in the U.S. and in other countries.</small>
                </center>
              </div>
            </div>
            <!-- siren: end -->
          </div>
        </div>
      </div>
    </div>
  </kbn-management-landing>
</kbn-management-app>
