<kbn-management-app>



  <!--KIBI5: see where to put those buttons-->
      <!--[> kibi: add the buttons for saving/loading/creating an object <]-->
      <!--<style>-->
        <!--/* just to make it appear as it is inside navbar */-->
        <!--.navbar-button-group{-->
          <!--float:right;-->
          <!--margin-top:6px;-->
        <!--}-->
        <!--.navbar-button{-->
          <!--background-color:transparent;-->
          <!--color:#ecf0f1;-->
          <!--padding: 5px 10px;-->
        <!--}-->
      <!--</style>-->

      <!--<div class="button-group navbar-button-group">-->
        <!--<kbn-tooltip ng-show="section.newObject" text="New {{section.buttonLabel}}" placement="bottom">-->
          <!--<button ng-click="section.newObject()" data-test-subj="new-{{section.name}}-button" class="navbar-button">-->
            <!--<i aria-hidden="true" class="fa fa-file-new-o"></i>-->
          <!--</button>-->
        <!--</kbn-tooltip>-->

        <!--<kbn-tooltip ng-show="section.saveObject" text="Save {{section.buttonLabel}}" placement="bottom">-->
          <!--<button-->
            <!--ng-if="isObjectValid"-->
            <!--ng-click="section.saveObject()"-->
            <!--data-test-subj="save-{{section.name}}-button"-->
            <!--class="navbar-button">-->
            <!--<i aria-hidden="true" class="fa fa-save"></i>-->
          <!--</button>-->

          <!--<button-->
            <!--disabled-->
            <!--ng-if="!isObjectValid"-->
            <!--data-test-subj="save-{{section.name}}-button"-->
            <!--class="navbar-button">-->
            <!--<i aria-hidden="true" class="fa fa-save"></i>-->
          <!--</button>-->
        <!--</kbn-tooltip>-->

        <!--<kbn-tooltip ng-show="section.openObjectFinder" text="Load Saved {{section.buttonLabel}}" placement="bottom">-->
          <!--<button ng-click="section.openObjectFinder()" data-test-subj="open-{{section.name}}-button" class="navbar-button">-->
            <!--<i aria-hidden="true" class="fa fa-folder-open-o"></i>-->
          <!--</button>-->
        <!--</kbn-tooltip>-->
      <!--</div>-->
      <!--[> kibi: end <]-->



  <kbn-management-landing>
    <!-- General info -->
    <div class="page-row">
      <div class="page-row-text">Version: {{::kbnVersion}}</div>
    </div>

    <!-- Management sections for the ES stack -->
    <div
      ng-if="section.items.length > 0"
      ng-repeat="section in sections"
      ng-class="{ 'management-section-info-expanded': section.showInfo }"
      class="page-row"
    >
      <div class="panel panel-product management-panel-product">
        <div class="panel-heading panel-heading-{{::section.id}}">
          {{::section.display}}

          <i
            class="fa fa-info-circle pull-right panel-heading-icon"
            ng-click="section.showInfo = !!!section.showInfo"
            ng-if="section.info">
          </i>
        </div>

        <div class="panel-body">
          <div class="row">
            <ul class="management-section-items list-unstyled">
              <li
                class="col-xs-4 col-md-3"
                ng-repeat="item in section.items.inOrder"
              >
                <a
                  class="management-link"
                  ng-class="{ 'is-management-link-disabled': !item.url }"
                  kbn-href="{{::item.url}}"
                  tooltip="{{::item.tooltip}}"
                  tooltip-placement="bottom"
                  tooltip-popup-delay="400"
                  tooltip-append-to-body="1"
                >
                  {{::item.display}}
                </a>
              </li>
            </ul>
          </div>
          <div class="management-section-info">
            {{::section.info}}
          </div>
        </div>
      </div>
    </div>
  </kbn-management-landing>
</kbn-management-app>
