<kbn-management-app>
  <kbn-management-landing>
    <!-- General info -->
    <div class="page-row">
      <div class="page-row-text">Version: {{::kbnVersion}}</div>
    </div>

    <!-- Management sections for the ES stack -->
    <div
      ng-if="section.visibleItems.length > 0"
      ng-repeat="section in sections"
      class="page-row management-section-info-expanded"
    >
      <div class="kuiPanel kuiPanel--withHeader management-panel">
        <div class="kuiPanelHeader">
          <div class="kuiPanelHeaderSection">
            <!-- kibi: removed heading icon -->
            <div class="kuiPanelHeader__title">
              {{::section.display}}
            </div>
          </div>
        </div>

        <div class="kuiPanelBody management-panel__body">
          <div class="row">
            <ul class="list-unstyled">
              <li
                class="col-xs-4 col-md-3"
                ng-repeat="item in section.visibleItems"
              >
                <a
                  class="management-panel__link"
                  ng-class="{ 'management-panel__link--disabled': item.disabled || !item.url }"
                  kbn-href="{{::item.disabled ? '' : item.url}}"
                  tooltip="{{::item.tooltip}}"
                  tooltip-placement="bottom"
                  tooltip-popup-delay="400"
                  tooltip-append-to-body="1"
                >
                  {{::item.display}}
                </a>
              </li>
            </ul>
          </div>

          <div class="management-section-info" ng-if="section.info.kibiVersion">
            <!-- kibi: about section improved -->
            <div class="kbn-settings-about container">
              <div class="col-md-8 col-md-offset-2 jumbotron">
                <center>
                  <div class="about-kibi-logo"></div>
                  <h2>Kibi</h2>
                  <p></p>
                  <div ng-if="section.info.licenseIsMissing" class="kbn-settings-about-license">
                    Please <a href="https://support.siren.io/support/solutions/articles/17000057493-get-your-license">contact us</a> to get a trial license or to purchase a license
                  </div>
                  <table class="table table-condensed kbn-settings-about-versions">
                    <tbody>
                      <tr>
                        <td>Version</td>
                        <td>{{::section.info.kibiVersion}}</td>
                      </tr>
                      <tr>
                        <td>Elasticsearch Version</td>
                        <td>{{::section.info.esVersion}}</td>
                      </tr>
                      <tr ng-if="section.info.vanguardVersion">
                        <td>Vanguard Version</td>
                        <td>{{::section.info.vanguardVersion}}</td>
                      </tr>
                      <tr ng-if="section.info.kibiIndex">
                        <td>Kibi Index</td>
                        <td>{{::section.info.kibiIndex}}</td>
                      </tr>
                      <tr>
                        <td>Build</td>
                        <td>{{::section.info.build}}</td>
                      </tr>

                      <tr>
                        <td>Built at</td>
                        <td>{{::section.info.buildTimestamp}}</td>
                      </tr>

                      <tr>
                        <td>Commit SHA</td>
                        <td>{{::section.info.sha | limitTo:7}}</td>
                      </tr>

                      <tr>
                        <td>Compatible with</td>
                        <td><a href="{{::section.info.kibiKibanaAnnouncement}}">Kibana {{kbnVersion}}</a></td>
                      </tr>

                      <tr
                        ng-class="{ 'kbn-settings-about-license-invalid': !section.info.licenseIsValid }"
                      >
                        <td>License</td>
                        <td>{{ ::section.info.license }}</td>
                      </tr>

                      <tr
                        ng-class="{ 'kbn-settings-about-license-invalid': !section.info.licenseIsValid }"
                      >
                        <td>Description</td>
                        <td>{{ ::section.info.licenseDescription }}</td>
                      </tr>

                      <tr
                        ng-class="{ 'kbn-settings-about-license-invalid': !section.info.licenseIsValid }"
                      >
                        <td>Graph Browser</td>
                        <td>{{ section.info.licenseGraphBrowserEnabled ? 'Enabled' : 'Not Enabled' }}</td>
                      </tr>

                      <tr
                        ng-class="{ 'kbn-settings-about-license-invalid': !section.info.licenseIsValid }"
                      >
                        <td>License max Elasticsearch Nodes allowed</td>
                        <td>{{ ::section.info.licenseMaxNodes }}</td>
                      </tr>

                      <tr
                        ng-class="{ 'kbn-settings-about-license-invalid': !section.info.licenseIsValid }"
                      >
                        <td>License Max Users</td>
                        <td>{{ ::section.info.licenseMaxUsers }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <p></p>
                  <small>© 2015-{{::section.info.currentYear}} All Rights Reserved - Siren</small>
                  <br>
                  <br>
                  <small>Kibana is a trademark of Elasticsearch BV, registered in the U.S. and in other countries.</small>
                </center>
              </div>
            </div>
            <!-- kibi: end -->
          </div>
        </div>
      </div>
    </div>
  </kbn-management-landing>
</kbn-management-app>
