<!-- kibi:
  In all tables:
  column-aliases was added
  cell-click-handlers was added
-->
<div
  class="doc-table-container"
  ng-if="hits.length"
  ng-class="{ loading: searchSource.activeFetchCount > 0 }"
>
  <div ng-if="!infiniteScroll">
    <!--kibi: enable/disable top paginator by parameter-->
    <div class="kuiBar docTableBar" ng-if="enableTopPaginator">
      <div class="kuiBarSection">
        <!-- Pagination -->
        <tool-bar-pager-text
          start-item="pager.startItem"
          end-item="pager.endItem"
          total-items="totalHitCount"
        ></tool-bar-pager-text>
        <tool-bar-pager-buttons
          has-previous-page="pager.hasPreviousPage"
          has-next-page="hasNextPage()"
          on-page-next="onPageNext"
          on-page-previous="onPagePrevious"
        ></tool-bar-pager-buttons>
      </div>
    </div>

    <div
      kibi-custom-view
      ng-if="customView"
      ng-show="showCustomView"
      template-id="templateId"
      mode="{{customViewerMode}}"
      hits="pageOfItems"
      columns="columns"
      column-aliases="columnAliases"
      index-pattern="indexPattern"
      filter="filter"
      cell-click-handlers="cellClickHandlers"
    ></div>

    <div class="agg-table-paginated">
      <table class="kbn-table table" ng-if="indexPattern" ng-show="!showCustomView">
        <!--kibi: pass the column aliases-->
        <thead
          kbn-table-header
          column-aliases="columnAliases"
          column-min-width="columnMinWidth"
          disable-time-field="disableTimeField"
          columns="columns"
          index-pattern="indexPattern"
          sort-order="sorting"
          on-change-sort-order="onChangeSortOrder"
          on-move-column="onMoveColumn"
          on-remove-column="onRemoveColumn"
        ></thead>
        <tbody>
          <tr ng-repeat="row in pageOfItems track by row._index+row._type+row._id+row._score+row._version"
            kbn-table-row="row"
            column-aliases="columnAliases"
            disable-time-field="disableTimeField"
            cell-click-handlers="cellClickHandlers"
            columns="columns"
            sorting="sorting"
            index-pattern="indexPattern"
            filter="filter"
            class="discover-table-row"
            on-add-column="onAddColumn"
            on-change-sort-order="onChangeSortOrder"
            on-remove-column="onRemoveColumn"
          ></tr>
        </tbody>
      </table>
    </div>
    <!-- ToolBarFooter -->
    <div class="kuiBar docTableBar">
      <!--kibi: support CSV export-->
      <a ng-if="csv" class="small" ng-click="exportAsCsv(hits, indexPattern, columns)">
        Export as CSV <i aria-hidden="true" class="fa fa-download"></i>
      </a>
      <div class="kuiBarSection">
        <div
          ng-if="shouldShowLimitedResultsWarning()"
          class="kuiToolBarText kuiSubduedText"
        >
        {{ limitedResultsWarning }}
        </div>
        <!-- Pagination -->
        <tool-bar-pager-text
          start-item="pager.startItem"
          end-item="pager.endItem"
          total-items="totalHitCount"
        ></tool-bar-pager-text>
        <tool-bar-pager-buttons
          has-previous-page="pager.hasPreviousPage"
          has-next-page="hasNextPage()"
          on-page-next="onPageNext"
          on-page-previous="onPagePrevious"
        ></tool-bar-pager-buttons>
      </div>
    </div>
  </div>

  <div ng-if="infiniteScroll">
    <!--kibi: added custom view support-->
    <div
      kibi-custom-view
      ng-if="customView"
      ng-show="showCustomView"
      template-id="templateId"
      mode="{{customViewerMode}}"
      hits="hits"
      columns="columns"
      column-aliases="columnAliases"
      index-pattern="indexPattern"
      filter="filter"
      cell-click-handlers="cellClickHandlers"
    ></div>

    <div class="agg-table-paginated">
      <table class="kbn-table table" ng-if="indexPattern" data-test-subj="docTable" ng-show="!showCustomView">
        <!--kibi: pass the column aliases-->
        <thead
          kbn-table-header
          column-aliases="columnAliases"
          columns="columns"
          index-pattern="indexPattern"
          sort-order="sorting"
          on-change-sort-order="onChangeSortOrder"
          on-move-column="onMoveColumn"
          on-remove-column="onRemoveColumn"
        ></thead>
        <tbody>
          <tr ng-repeat="row in hits|limitTo:limit track by row._index+row._type+row._id+row._score+row._version"
            kbn-table-row="row"
            column-aliases="columnAliases"
            cell-click-handlers="cellClickHandlers"
            columns="columns"
            sorting="sorting"
            index-pattern="indexPattern"
            filter="filter"
            class="discover-table-row"
            ng-class="{'discover-table-row--highlight': row['$$_isAnchor']}"
            data-test-subj="docTableRow{{ row['$$_isAnchor'] ? ' docTableAnchorRow' : ''}}"
            on-add-column="onAddColumn"
            on-change-sort-order="onChangeSortOrder"
            on-remove-column="onRemoveColumn"
          ></tr>
        </tbody>
      </table>
    </div>
    <kbn-infinite-scroll more="addRows"></kbn-infinite-scroll>
  </div>
</div>

<div ng-if="hits != null && !hits.length" class="table-vis-error">
  <h2><i class="fa fa-meh-o"></i></h2>
  <h4>No results found</h4>
</div>
