---
extends: '@elastic/kibana'
rules:
  no-unused-vars: 0
  no-var: 1
  prefer-const: 1
  no-extra-semi: 0
  quotes: 0
  import/no-unresolved: 0
  import/named: 0
  import/no-named-as-default-member: 0
  import/no-duplicates: 0
  import/default: 0
