.aws-config.json
.DS_Store
.node_binaries
node_modules
bower_components
**/*.css
**/*.css.map
trash
build
target
.jruby
.idea
*.iml
*.log
esvm
.htpasswd
/resources/data
/resources/dbdrivers/mysql-connector-java-5.1.35-bin.jar
/resources/dbdrivers/postgresql-9.4-1201.jdbc41.jar

**/*.css.map
# in kibi-docs there are some files like .css that are normally ignored
!kibi-docs/src/**
/coverage/

/docs/index.html
