.aws-config.json
.DS_Store
.node_binaries
node_modules
trash
bundles
target
/build
.jruby
.idea
*.iml
*.log
/test/output
/esvm
.htpasswd
.eslintcache
installedPlugins
disabledPlugins
webpackstats.json
config/kibi.dev.yml
coverage
selenium
.babelcache.json
*.swp
*.swo
/crunchbase.db

# Gradle
.gradle/
build/
