@import (reference) "~ui/styles/variables";

/* Dashboard */
@siren-dashboard-active-background:   #2f5f97;
@siren-dashboard-inactive-background: #6079a2;
@siren-dashboard-selection-bg:        #69a999;

@siren-app-menu-inactive: #4a5c7b;
@siren-app-menu-active: #344055;

@siren-dashboard-menu-group-bg: #4a5c7b;

@siren-top-bar: @dashboard-bg;

/* selected entity */
@entity-bg: @siren-dashboard-selection-bg;


/* kibi defined variables */
@kibi-light-border: #dedede;
@siren-radius: 4px;

/* colors for dashboards menu on tabs */
@kibi-menu-template-bg:            @white;
@kibi-menu-template-item-bg:       @white;
@kibi-menu-template-item-bg-hover: @kibi-light-border;
@kibi-menu-template-border-light:  @kibi-light-border;
@kibi-menu-template-border-dark:   @gray9;

/* colors for buttons */
@kibi-btn-default-color:   @gray3;
@kibi-btn-default-bg:      @white;
@kibi-btn-default-border:  @gray12;

@st-gray-blured:   @gray-lighter;
@st-gray-focused:  @gray-light;

@st-darkgray-blured:   #B4BCC2;
@st-darkgray-focused:  #444;

@st-dark-gray:     #656A76;

@brand-relational:           @siren-dashboard-inactive-background; /* #048CC8; */
@btn-relational-color:       @white;
@btn-relational-bg:          @brand-relational;
@btn-disabled-relational-bg: #656A76;
@btn-relational-border:      darken(@btn-info-bg, 5%);


//== Navbar

@navbar-arrow-size:                5px;

/* dark color of doc table fixed header */
@fixed-header-dark: #272727;


