@import (reference) "~ui/styles/control_group.less";
@import (reference) "~ui/styles/variables.less";
@import (reference) "~ui/kibi/styles/kibi_variables";

// Used in document detail table view when an alias is defined for table column
span.original-field-name {
  font-style: italic;
  margin-left: 4px;
  color: @gray-light;
}

// draw any selected text white on blue background
::-moz-selection {
  color: @white;
  background-color: @kibanaBlue1;
}
::selection {
  color: @white;
  background-color: @kibanaBlue1;
}

// Buttons ================================================
.btn.btn-relational {
  .button-variant(@btn-relational-color; @btn-relational-bg; @btn-relational-border);
  padding: 3px 8px;
}

.btn.disabled-btn-relational {
  .button-variant(@btn-relational-color; @btn-disabled-relational-bg; @btn-relational-border);
  padding: 3px 8px;
}

/* traditional bootstrap white btn-default which in kibana was overriten to grey */
.btn.kibi-btn-default {
  .button-variant(@kibi-btn-default-color; @kibi-btn-default-bg; @kibi-btn-default-border);
}

// Panel ================================================
.entitiesDependent() {
  background-color: @entity-bg;
  .panel-title {
     color: #fff;
   }
  .btn-group a span {
     color: #fff;
   }

   &.disabled {
     opacity: 0.6;
     background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255,255,255,.3) 10px, rgba(255,255,255,.3) 20px);
   }
}

.panel .panel-heading.selectedEntitiesDependent {
   .entitiesDependent()
}

.panel .panel-heading.panel-border.selectedEntitiesDependent {
   .entitiesDependent()
}

.tab-dashboard.theme-dark dashboard-panel .panel .panel-heading.panel-border.selectedEntitiesDependent {
  .entitiesDependent()
}

ul.navbar-right {
  margin-right: 15px;
}

ul.kibi-fixed-size {
  width: 70px;
  display: inline-block;
  float: right;
  position:relative;
  height: 40px;
}

// Errors
// added to make st-select red when the model is invalid
.ng-dirty, .ng-touched {
  div.ng-invalid {
    input, select {
      border-color: @state-danger-bg !important;
    }
  }
}
.red-border {
  border: 2px @state-danger-bg solid !important;
}

.red-border:hover {
  border: 2px @state-danger-bg solid !important;
}

.about-kibi-logo {
  background-image: url('~ui/kibi/images/siren_logo.png');
  width: 128px;
  height: 128px;
  background-size: cover;
  background-repeat: no-repeat;
}

.global-nav {
  .logo-small,
  .logo {
    &.kibi {
      background-image: url('~ui/kibi/images/siren_full_logo.png');
      background-repeat: no-repeat;
      background-size: auto 48px;
      background-position: 2px center;
      background-color: @siren-app-menu-inactive;
      width: 252px;
    }
  }
}


.kibiTitle {
  font-weight: bold;
}

navbar button {
  padding: 5px @navbar-padding-horizontal!important;
}

@media (min-width: @screen-sm-min) {

  .navbar-timepicker-time-desc {
    padding: 0!important;
  }

  .kibiTimePrecisionContainer{
    display: inline-block;
    vertical-align: middle;
    margin-top: -20px;
  }

  pretty-duration {
    display: inline-block;

    padding-top: @navbar-padding-vertical;
    padding-bottom: @navbar-padding-vertical;

    &.cant-lookup {
      padding: 5px 0 0 0;
      height: @navbar-height;
      font-size: 90%;
      /* kibi: white-space added for new line */
      white-space: pre-line;

      span {
        display: block;

        &.from {
          border-bottom: 1px dotted #555;
        }
      }

      span.separator {
        /* using trick to hide it to make tests pass
           as they all expect the separator to be visible
        */
        height: 0;
        font-size: 0;
      }
    }
  }
}

// ovveride the top bar background
kbn-top-nav div.kuiLocalNav {
  background-color: @siren-top-bar;
}

