@import "~ui/kibi/styles/kibi_config_sections.less";

.datasources_editor input[type=checkbox] {
  display: inline-block;
  width: auto;
  margin: auto;
  vertical-align: middle;
}

.datasources_editor span.invalid {
  color: red;
}
