<div ng-controller="KibiDataTableVisController" class="kibi-data-table-vis">

  <div class="small-note" ng-if="vis.params.templateId">
    <kibi-table-sorting options="savedObj" ng-if="savedObj.sorting && savedObj.showCustomView"></kibi-table-sorting>
    <a
      ng-if="showCustomView"
      class="pull-right"
      ng-click='showCustomView = !showCustomView'
    >Change back to Standard View</a>
    <a
       ng-if="!showCustomView"
       class="pull-right"
       ng-click='showCustomView = !showCustomView'
    >Change to Custom View</a>
  </div>

  <doc-table
    infinite-scroll="true",
    on-add-column="onAddColumn"
    on-remove-column="onRemoveColumn"
    on-move-column="onMoveColumn"
    search-source="searchSource"
    sorting="vis.params.sort"
    columns="vis.params.columns"
    template-id="vis.params.templateId"
    custom-viewer-mode="customViewerMode"
    filter="filter"
    cell-click-handlers="cellClickHandlers"
    column-aliases="vis.params.columnAliases"
  ></doc-table>

</div>
