<div id="kibi-data-table-vis-params" class="kibi-data-table-vis-params">

  <section>
    <div class="inline-help">
      The order and visibility of columns can be set in the right panel;
      click on the <i class="fa fa-caret-right"></i> button to view all the available fields,
      then click on the <i class="fa fa-columns"></i> button to toggle the corresponding column.
    </div>
  </section>

  <section>
    <h2><i class="fa fa-mouse-pointer"></i> Click handlers</h2>

    <div ng-if="vis.params.clickOptions.length">
      <ul>
        <li ng-repeat="clickOption in vis.params.clickOptions" class="queryOptionArea">
          <div class="header">
            <h2>Click handler {{$index + 1}} <i tooltip="{{ clickHandlerValidationStates[$index].message }}" ng-if="clickHandlerValidationStates[$index].message" style="color: #e74c3c;" class="fa fa-danger"></i></h2>
            <!--This input is necessary so that the form is invalid-->
            <input force-dirty name="clickHandlerValidation" type="hidden" ng-model="clickHandlerValidationStates[$index].state" required />
          </div>

          <div class="enhanced-search-content" ng-class="{ queryOptionAreaError: clickHandlerValidationStates[$index].message }">

            <div class="form-group">
              <label>Column</label>
              <select name="column"
                      class="form-control"
                      ng-options="column for column in vis.params.columns"
                      ng-model="clickOption.columnField"
                      required
              ></select>
            </div>

            <div class="form-group">
              <label>On click I want to
              <a href="http://siren.solutions/kibi/docs/current/external-datasources.html" target="_blank">
                <kbn-info info="Click to see the relevant documentation"></kbn-info>
              </a>
              </label>
              </br>
              <select name="type"
                      class="form-control"
                      ng-model="clickOption.type"
                      required
              >
                <option value="link">Follow the URL</option>
                <option value="select">Select the document</option>
              </select>
            </div>


            <div ng-if="clickOption.type === 'link'" class="form-group">
              <label>URL field</label>
              <kibi-select
                required
                object-type="field"
                analyzed-warning="true"
                index-pattern-id="vis.indexPattern.id"
                ng-model="clickOption.valueField" ></kibi-select>
            </div>
            <div ng-if="clickOption.type === 'link'" class="form-group">
              <label>URL format</label>
              <input type="text" ng-model="clickOption.uriFormat" class="form-control" required/>
              <span style="color:orange;">If <b>URL field</b> contains valid URL there is no need to modify URL format.</span>
            </div>


            <div ng-if="clickOption.type === 'select'" class="form-group">
              <label>Redirect to dashboard</label></br/>
              <span>If set, when selecting a document you will be redirected to the specified dashboard.</span></br>
              <kibi-select object-type="dashboard" ng-model="clickOption.targetDashboardId" />
            </div>

            <div class="btn-group rightCorner">
              <kibi-array-param-up index="{{ $index }}" post-action="clickHandlersChanged()" model="vis.params.clickOptions"></kibi-array-param-up>
              <kibi-array-param-down index="{{ $index }}" post-action="clickHandlersChanged()" model="vis.params.clickOptions"></kibi-array-param-down>
              <kibi-array-param-remove index="{{ $index }}" post-action="clickHandlersChanged()" model="vis.params.clickOptions"></kibi-array-param-remove>
            </div>

          </div>
        </li>
      </ul>
    </div>

    <kibi-array-param-add label="click handler" post-action="clickHandlersChanged()" model="vis.params.clickOptions"></kibi-array-param-add>
  </section>

  <section>
    <h2><i class="fa fa-share"></i> Rename columns</h2>
    <div class="form-group">
      <label>
        <input type="checkbox" ng-model="vis.params.enableColumnAliases"/> Enable column rename
      </label>
    </div>

    <div class="column-aliases" ng-if="vis.params.enableColumnAliases">
      <!--This input is necessary so that the form is invalid-->
      <input force-dirty name="columnAliasesValidation" type="hidden" ng-model="columnAliasesValid" required/>
      <table class="table">
        <thead>
          <tr>
            <th>Column</th>
            <th>Alias</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="column in vis.params.columns">
            <td>{{ column }}</td>
            <td>
              <div class="duplicate-warning" ng-if="!aliasValidStatus[$index]">
                Aliases cannot be duplicated
              </div>
              <input type="text"
                     ng-class="{ 'readonly-input': vis.params.queryFieldName === column, invalid: !aliasValidStatus[$index] }"
                     ng-model="vis.params.columnAliases[$index]"
                     ng-blur="columnAliasesValidation()"
                     ng-readonly="vis.params.queryFieldName === column"
                     required
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </section>

  <section>
    <h2><i class="fa fa-code-fork"></i> Relational column</h2>
    <div class="form-group">
      <label>
        <input type="checkbox" ng-model="vis.params.enableQueryFields" /> Enable relational column
      </label>
    </div>

    <div ng-if="vis.params.enableQueryFields">
      <div class="form-group">
        <label>Column name</label></br>
        <input type="text" ng-model="vis.params.queryFieldName" class="form-control" required/>
      </div>

      <div class="form-group">
        <label>Source Field</label></br>
        <kibi-select required object-type="field" index-pattern-id="vis.indexPattern.id" ng-model="vis.params.joinElasticsearchField" />
      </div>

      <ul>
        <li ng-repeat="queryDefinition in vis.params.queryDefinitions" class="queryOptionArea" >

          <div class="header">
            <h2>Query {{$index +1}}</h2>
          </div>

          <div class="enhanced-search-content">
            <div class="form-group">
              <label>Target query</label>
              <kibi-select required object-type="query" ng-model="queryDefinition.queryId"></kibi-select>
            </div>
            <div class="form-group">
              <label>Target query variable name</label>
              <kibi-select
                required
                object-type="queryVariable"
                query-id="queryDefinition.queryId"
                model-disabled="!queryDefinition.queryId"
                ng-model="queryDefinition.queryVariableName">
              </kibi-select>
            </div>

            <div class="btn-group rightCorner">
              <kibi-array-param-remove index="{{ $index }}" model="vis.params.queryDefinitions"></kibi-array-param-remove>
            </div>

          </div>
        </li>
      </ul>
      <kibi-array-param-add required label="query" model="vis.params.queryDefinitions"></kibi-array-param-add>
    </div>
  </section>
  <section>
    <div class="header">
      <h2>Page size</h2>
    </div>
    <!-- kibi: investigate why required does not work without ng-if="true" !-->
    <div class="form-group" ng-if="true">
      <input type="number" min="1" ng-model="vis.params.pageSize" class="form-control" required/>
    </div>
  </section>
  <section>
    <div class="header">
      <h2>Custom template</h2>
    </div>
    <div class="form-group">
      <span class="small-note">Pick a template to render the results.
        <a ng-show="vis.params.templateId" ng-click="jumpToTemplate()"> Edit template</a>
      </span><br/>
      <kibi-select
        object-type="template"
        filter="filterTemplates"
        ng-model="vis.params.templateId"
        options="{ placeholder: 'None' }"
      ></kibi-select>
    </div>
  </section>
</div>
