<kbn-management-app section="kibana" class="kuiView">
  <div ng-controller="RelationAdvancedSettingsController" class="app-container kibi-config-section">
    <div class="container">

      <div class="config-section">

        <div>
          <div class="header">
            <h2 class="title">Advanced settings for the <b>{{relation.label}}</b> relation</h2>
          </div>
          <form name="advancedRelationSettings" novalidate>

            <!-- NOTE: temporary hidden
            <div class="form-group">
              <label>Join type</label>
              <select
                ng-model="relation.type"
                ng-options="type.value as type.label for type in joinTypes"
                class="form-control small-input"
              ></select>
              <p class="field-description">The join implementation to use.
              </p>
            </div>
            -->
            <div class="form-group">
              <label>Limit per shard</label>
              <input type="number" min="-1" step="100000" ng-model="relation.limit" class="form-control small-input"/>
              <p class="field-description">
                Limit of collected tuples during join operation.
                Set to -1 to use the global limit from Advanced Settings -> kibi:joinResultsLimit
              </p>
            </div>

            <div class="form-group">
              <button aria-label="Cancel" class="btn btn-primary" ng-click="cancel()">Cancel</button>
              <button aria-label="Save" class="btn btn-success" ng-click="submit()">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</kbn-management-app>
