<div class="form-group">
  <label>Column name</label></br>
  <input required type="text" ng-model="vis.params.queryFieldName" class="form-control"/>
</div>

<ul class="external-query-terms-filter">
  <li ng-repeat="queryDefinition in agg.params.queryDefinitions" class="queryOptionArea" >

    <div class="header">
      <h2>Filter {{$index +1}}</h2>
    </div>

    <div class="external-query-terms-filter-content">
      <div class="form-group">
        <label>Source query id</label>
        <kibi-select object-type="query" ng-model="queryDefinition.queryId" required></kibi-select>
      </div>

      <div class="form-group">
        <label>Source query variable</label>
        <kibi-select
          required
          object-type="queryVariable"
          model-disabled="!queryDefinition.queryId"
          query-id="queryDefinition.queryId"
          ng-model="queryDefinition.queryVariableName">
        </kibi-select>
      </div>

      <div class="form-group">
        <label><input type="checkbox" ng-model="queryDefinition.negate"/>Negate the query</label>
      </div>

      <div class="form-group">
        <label>Target field</label>
        <kibi-select
          required
          object-type="field"
          analyzed-warning="true"
          index-pattern-id="vis.indexPattern.id"
          ng-model="queryDefinition.joinElasticsearchField" >
        </kibi-select>
      </div>

      <div class="rightCorner">
        <kibi-array-param-remove index="{{ $index }}" model="agg.params.queryDefinitions"></kibi-array-param-remove>
      </div>
    </div>

  </li>
</ul>
<kibi-array-param-add required label="external query terms filter" model="agg.params.queryDefinitions"></kibi-array-param-add>
