<div ng-controller="SirenAutoJoinVisController"
     class="siren-auto-join-vis"
     ng-class="{loading: holder.activeFetch}"
     ng-if="vis.params">

  <script type="text/ng-template" id="button_nodes_renderer.html">
    <div
      ui-tree-handle
      class="siren-button"
       ng-class="{
         'siren-entity-children-indicator': node.nodes && (node.type === 'DASHBOARD' || node.type === 'RELATION'),
         'siren-type-button': node.type === 'BUTTON',
         'siren-type-virtual-button': node.type === 'VIRTUAL_BUTTON',
         'siren-type-dashboard': node.type === 'DASHBOARD',
         'siren-type-relation': node.type === 'RELATION',
         active: node.id == selectedEntity.id,
         clickable: node.type !== undefined
      }"
    >

      <div ng-if="node.type === 'BUTTON'"
           ng-click="node.button.click()">
        <div class="siren-entity-icon {{node.icon}}" ng-if="node.icon"/>
        <div class="siren-entity-label">
          {{ getButtonLabel(node.button, false) }}
          <span
            class="warning"
            ng-if="!!button.warning"
            title="{{ button.warning }}">(*)</span>
          <span ng-if="node.button.targetCount === undefined && node.button.showSpinner" class="siren-spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
          </span>
        </div>
        <div class="siren-entity-go"><i class="fa fa-arrow-right"></i></div>
      </div>

      <div ng-if="node.type === 'VIRTUAL_BUTTON'">
        <div class="siren-entity-content" ng-click="toggleNode(node)">
          <div class="siren-entity-icon {{node.icon}}" ng-if="node.icon"/>
          <div class="siren-entity-label">
            {{ getButtonLabel(node.button, true) }}
          </div>
        </div>
        <div class="siren-entity-sub-switch" ng-click="node.useAltNodes = !node.useAltNodes">
          <img
              ng-show="vis.params.layout === 'normal' && node.showChildren"
              class="dashboard-disabled"
              kbn-src="/plugins/kibana/assets/dashboard.svg"
              tooltip="{{ node.useAltNodes ? 'Order by Relation' : 'Order by Dashboard' }}"
              tooltip-append-to-body="1"
          />
        </div>
      </div>

      <div ng-if="node.type === 'DASHBOARD' || node.type === 'RELATION'"
           ng-click="toggleNode(node)">
        <div class="siren-entity-icon {{node.icon}}" ng-if="node.icon"/>
        <div class="siren-entity-label">{{ node.label }}</div>
      </div>

    </div>

    <ol ng-if="!node.useAltNodes" ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: !node.showChildren}">
      <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'button_nodes_renderer.html'"></li>
    </ol>
    <ol ng-if="node.useAltNodes" ui-tree-nodes="" ng-model="node.altNodes" ng-class="{hidden: !node.showChildren}">
      <li ng-repeat="node in node.altNodes" ui-tree-node ng-include="'button_nodes_renderer.html'"></li>
    </ol>
  </script>

  <div ui-tree data-nodrop-enabled="true" data-drag-enabled="false">
    <ol ui-tree-nodes="" ng-model="tree.nodes" id="tree-root" class="siren-tree-root"">
      <li ng-repeat="node in tree.nodes" ui-tree-node ng-include="'button_nodes_renderer.html'" class=""></li>
    </ol>
  </div>

  <div class="btn-get-current-dashb-btn-counts"
       ng-if="!btnCountsEnabled()"
       tooltip-append-to-body="1"
       tooltip="Refresh counts">
    <a ng-click="getCurrentDashboardBtnCounts()">
      <i aria-hidden="true" class="fa fa-refresh fa-lg"></i>
    </a>
  </div>
</div>
