<div class="siren-auto-join-vis-params" id="siren-auto-join-vis-params">
  <section>
    <div class="form-group">
      <label>Hierarchy Type:</label></br>
      <select ng-model="vis.params.layout"
              ng-model-options="{ debounce: 350 }"
              class="form-control">
        <option value="normal">Normal</option>
        <option value="light">Light</option>
      </select>
    </div>
  </section>
  <section>
    <h4>Relations</h4>
    <div class="form-group">
      <div class="btn btn-default"
           ng-click="resetVisibility()">
        <span>Reset visibility</span>
      </div>
    </div>
    <div class="form-group">
      <label>Filter by index-pattern:</label></br>
      <select ng-model="filterIndexPattern"
              ng-model-options="{ debounce: 350 }"
              ng-options="option.name for option in availableIndexPatterns track by option.id"
              ng-change="updateFilteredButtons()"
              class="form-control">
      </select>
    </div>
    <ul>
      <li ng-repeat="button in filteredButtons"
          class="queryOptionArea"
      >
        <div class="btn-visibility-check">
          <i
             tooltip-placement="right"
             tooltip="{{ button.tooltip.root }}"
             class="fa {{ getButtonVisibilityClass(button) }}"
             ng-click="toggleButtonVisibility(button)"
          ></i>
        </div>
        <div class="header" ng-if="button.type === 'INDEX_PATTERN'">
          <h2>
            {{ button.label }}
          </h2>
        </div>
        <accordion ng-if="button.type === 'VIRTUAL_ENTITY'">
          <accordion-group is-open="button.isOpen">
            <accordion-heading>
              <div class="accordion-header">
                <h2>
                  <i ng-class="{'fa fa-caret-down': button.isOpen, 'fa fa-caret-right': !button.isOpen}"></i>
                  {{ button.label }}
                </h2>
              </div>
            </accordion-heading>
            <accordion>
              <div class="siren-content">
                <div class="form-group target-dashboards">
                  <a ng-click="toggleTargetDashboards(button)">
                    With this relation you can go to:
                  </a>
                  <ul ng-if="button.showTargetDashboards"
                      class="relations">
                    <li ng-repeat="(relName, dashboards) in button.compatibleDashboard">
                      <i class="fa {{ getRelationVisibilityClass(button, relName) }}"
                         tooltip-placement="right"
                         tooltip="{{ button.tooltip.relation[relName].tooltip }}"
                         ng-click="toggleRelationVisibility(button, relName)"
                      ></i> {{ relName }}
                      <ul class="dashboards">
                        <li ng-repeat="dashboardName in dashboards">
                          <i class="fa {{ getDashboardVisibilityClass(button, relName, dashboardName) }}"
                             tooltip-placement="right"
                             tooltip="{{ button.tooltip.relation[relName].dashboard[dashboardName] }}"
                             ng-click="toggleDashboardVisibility(button, relName, dashboardName)"
                          ></i> {{ dashboardName }}
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </accordion>
          </accordion-group>
        </accordion>
      </li>
    </ul>
  </section>
</div>
