<div ng-controller="SirenAutoJoinVisController"
     class="siren-auto-join-vis"
     ng-class="{loading: holder.activeFetch}"
     ng-if="vis.params">
  <div class="panel-buttons">
    <a ng-repeat="button in buttons"
       ng-if="button.type === 'INDEX_PATTERN' && (vis.params.visibility[button.id] === undefined
              || vis.params.visibility[button.id].button)"
       ng-click="button.click(true)"
       ng-disabled="button.disabled"
       ng-mouseover="hoverIn(button)"
       ng-mouseleave="hoverOut()"
    >
      <h4 class="panel-title">
        {{ getButtonLabel(button) }}
        <span
          class="warning"
          ng-if="!!button.warning"
          title="{{button.warning}}">(*)</span>
        <span class="go-to-dashboard">
          <i class="fa fa-arrow-right"></i>
        </span>
      </h4>
    </a>
  </div>

  <accordion close-others="true"
             ng-if="vis.params.layout !== 'compressed'"
  >
    <accordion-group ng-repeat="button in buttons"
                     ng-if="button.type === 'VIRTUAL_ENTITY' && (vis.params.visibility[button.id] === undefined
                            || vis.params.visibility[button.id].button !== false)"
                     is-open="visibility.buttons[button.id]"
                     >
      <accordion-heading>
        {{ getButtonLabel(button) }}
        <img
          ng-if="vis.params.layout === 'normal' && visibility.buttons[button.id] && !button.checkBox"
          class="dashboard-disabled"
          kbn-src="/plugins/kibana/assets/dashboard.svg"
          ng-click="toggleLayout(button, $event)"
          tooltip="Order by Dashboard"
          tooltip-append-to-body="1"
        >
        <img
          ng-if="vis.params.layout === 'normal' && visibility.buttons[button.id] && button.checkBox"
          class="dashboard-enabled"
          kbn-src="/plugins/kibana/assets/dashboard.svg"
          ng-click="toggleLayout(button, $event)"
          tooltip="Order by Relation"
          tooltip-append-to-body="1"
        >
      </accordion-heading>
      <!-- normal view - relations view -->
      <accordion close-others="true"
                 ng-if="vis.params.layout === 'normal' && !button.checkBox"
      >
        <accordion-group heading="{{key}}"
                         ng-repeat="(key, subButtons) in button.sub"
                         ng-if="vis.params.visibility[button.id].relation[key].toggle !== false"
                         is-open="visibility.subRelations[key]"
        >
          <div class="panel-buttons">
            <a ng-repeat="subButton in subButtons"
               ng-if="subButton.type === 'INDEX_PATTERN'
                      && vis.params.visibility[button.id].relation[key].dashboard[subButton.label] !== false"
               ng-click="subButton.click(true)"
               ng-disabled="subButton.disabled"
               ng-mouseover="hoverIn(subButton)"
               ng-mouseleave="hoverOut()"
            >
              <h4 class="panel-title">
                {{subButton.label}}
                <span ng-show="subButton.targetCount !== undefined && subButton.targetCount !== ''"> ({{subButton.targetCount}})</span>
                <span
                  class="warning"
                  ng-if="!!subButton.warning"
                  title="{{subButton.warning}}">(*)</span>
                <span class="go-to-dashboard">
                  <i class="fa fa-arrow-right"></i>
                </span>
              </h4>
            </a>
          </div>
        </accordion-group>
      </accordion>
      <!-- end normal view  - relations view -->

      <!-- normal view - dashboard view -->
      <accordion close-others="true"
                 ng-if="vis.params.layout === 'normal' && button.checkBox"
      >
        <accordion-group heading="{{key}}"
                         ng-repeat="(key, altSubButtons) in button.altSub"
                         is-open="visibility.altViewDashboards[key]"
        >
          <div class="panel-buttons">
            <a ng-repeat="altSubButton in altSubButtons"
               ng-if="altSubButton.type === 'INDEX_PATTERN'"
               ng-click="altSubButton.click(true)"
               ng-disabled="altSubButton.disabled"
               ng-mouseover="hoverIn(altSubButton)"
               ng-mouseleave="hoverOut()"
            >
              <h4 class="panel-title">
                {{altSubButton.label}}
                <span ng-show="altSubButton.targetCount !== undefined && altSubButton.targetCount !== ''"> ({{altSubButton.targetCount}})</span>
                <span
                  class="warning"
                  ng-if="!!altSubButton.warning"
                  title="{{altSubButton.warning}}">(*)</span>
              </h4>
            </a>
          </div>
        </accordion-group>
      </accordion>
      <!-- normal view - dashboard view -->

      <!-- light view -->
      <accordion close-others="true"
                 ng-if="vis.params.layout === 'light'"
      >
        <div class="panel-buttons"
             ng-repeat="(key, subButtons) in button.sub"
             ng-if="(vis.params.visibility[button.id].button || vis.params.visibility[button.id] === undefined)"
        >
          <a ng-repeat="subButton in subButtons"
             ng-if="subButton.type === 'INDEX_PATTERN'"
             ng-click="subButton.click(true)"
             ng-disabled="subButton.disabled"
             ng-mouseover="hoverIn(subButton)"
             ng-mouseleave="hoverOut()"
          >
            <h4 class="panel-title">
              <em>{{ key }}</em> {{ subButton.label }}
              <span ng-show="subButton.targetCount !== undefined && subButton.targetCount !== ''"> ({{subButton.targetCount}})</span>
              <span
                class="warning"
                ng-if="!!subButton.warning"
                title="{{subButton.warning}}">(*)</span>
              <span class="go-to-dashboard">
                <i class="fa fa-arrow-right"></i>
              </span>
            </h4>
          </a>
        </div>
      </accordion>
      <!-- end light view -->
    </accordion-group>
  </accordion>

  <div class="btn-get-current-dashb-btn-counts"
       ng-if="!btnCountsEnabled()"
       tooltip-append-to-body="1"
       tooltip="Refresh counts">
    <a ng-click="getCurrentDashboardBtnCounts()">
      <i aria-hidden="true" class="fa fa-refresh fa-lg"></i>
    </a>
  </div>
</div>
