<nav
  class="dashboards-nav"
  ng-class="{'is-dashboards-nav-open': isDashboardsNavOpen, 'is-dashboards-nav-group-editor-open': isDashboardsNavGroupEditorOpen, 'is-global-nav-open': isGlobalNavOpen}">

  <div class="menu" ng-click="toggleDashboardsNav($event)">
    <form role="form">
      <input
          name="dashboards-filter"
          ng-show="!isDashboardsNavOnEditMode"
          aria-label="Filter"
          ng-model="dashboardFilter"
          class="form-control span12"
          type="text"
          placeholder="Filter"
        />
    </form>
  </div>

  <div class="links" ng-click="toggleDashboardsNav($event)">
    <!-- dashboards sidebar -->
    <dashboard-switcher
      filter="dashboardFilter"
    ></dashboard-switcher>

    <!-- actions and open/close sidebar -->
    <dashboards-nav-control
        on-click="toggleDashboardsNav($event, true)"
        kbn-icon="{{ dashboardsNavToggleButton.icon }}"
        is-open="isDashboardsNavOpen"
        on-edit-click="toggleDashboardsNavEditMode($event)"
        is-on-edit-mode="isDashboardsNavOnEditMode"
        on-new-group-click="newDashboardGroup($event)"
        is-group-editor-open="isDashboardsNavGroupEditorOpen"
    ></dashboards-nav-control>
  </div>

  <!-- group editor panel -->
  <div ng-show="isDashboardsNavGroupEditorOpen" class="group-editor">
    <dashboard-nav-group-editor
      edit-mode="isDashboardsNavOnEditMode">
    </dashboard-nav-group-editor>
  </div>

</nav>
