<nav
  id="kibi-dashboards-nav"
  class="dashboards-nav"
  ng-class="{'is-dashboards-nav-open': isDashboardsNavOpen, 'is-dashboards-nav-group-editor-open': isDashboardsNavGroupEditorOpen, 'is-global-nav-open': isGlobalNavOpen}">

  <div class="menu" ng-click="toggleDashboardsNav($event)">
    <form role="form">
      <input
          name="dashboards-filter"
          ng-show="!isDashboardsNavOnEditMode"
          ng-class="{collapsed: !isDashboardsNavOpen}"
          aria-label="Filter"
          ng-model="dashboardFilter"
          class="form-control span12 dashboards-filter"
          type="text"
          placeholder="Filter"
        />
    </form>

    <!-- Create dashboard button -->
    <a
     class="kuiButton kuiButton--primary new-dashboard"
     ng-class="{collapsed: !isDashboardsNavOpen}"
     ng-show="!isDashboardsNavOnEditMode"
     ng-click="createDashboard()"
     data-test-subj="newDashboardLink"
     aria-label="Create new dashboard"
     tooltip="Create new dashboard"
     tooltip-append-to-body="true"
     >
     <span class="kuiButton__icon kuiIcon fa-plus"></span>
    </a>
  </div>

  <div class="links" ng-click="toggleDashboardsNav($event)">
    <!-- dashboards sidebar -->
    <dashboard-switcher
      filter="dashboardFilter"
    ></dashboard-switcher>

    <!-- actions and open/close sidebar -->
    <dashboards-nav-control
        on-click="toggleDashboardsNav($event, true)"
        kbn-icon="{{ dashboardsNavToggleButton.icon }}"
        is-open="isDashboardsNavOpen"
        on-edit-click="toggleDashboardsNavEditMode($event)"
        is-on-edit-mode="isDashboardsNavOnEditMode"
        on-new-group-click="newDashboardGroup($event)"
        is-group-editor-open="isDashboardsNavGroupEditorOpen"
    ></dashboards-nav-control>
  </div>

  <!-- group editor panel -->
  <div ng-show="isDashboardsNavGroupEditorOpen" class="group-editor">
    <dashboard-nav-group-editor
      edit-mode="isDashboardsNavOnEditMode">
    </dashboard-nav-group-editor>
  </div>

</nav>
