@import "~ui/styles/variables";
@import (reference) "~ui/styles/bootstrap/mixins";

.flex-parent(@grow: 1, @shrink: 1, @basis: auto, @direction: column) {
  flex: @grow @shrink @basis;
  display: flex;
  flex-direction: @direction;

  > * {
    flex-shrink: 0;
  }
}
.real-flex-parent(@flow: column nowrap) {
  display: flex;
  flex-flow: @flow;
}


.ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* TODO MERGE 5.5.2 add kibi comment */
.unselectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:pointer;
}

.box-shadow(@x:0, @y:0, @blur:0, @spread:0, @color:rgba(0,0,0,.5)) {
  -webkit-box-shadow: @x @y @blur @spread @color;
  -moz-box-shadow: @x @y @blur @spread @color;
  box-shadow: @x @y @blur @spread @color;
}
