@import (reference) "~ui/kibi/styles/kibi_variables";
@import (reference) "~ui/styles/variables";
@import (reference) "../variables";

@icon-width: 25px;
@actions: @kibanaGray6;

.dashboards-nav-edit-link-group {
  background-color: @siren-dashboard-inactive-background;
  margin-top: 1px;
  clear: both;
  padding: 4px;
  display: block;
  padding-right: 15px;

  width: @dashboards-nav-closed-width;
  .is-dashboards-nav-open & {
    width: @dashboards-nav-open-width;
  }

  .icon {
    color: @white;
    display: inline-block;
    position: absolute;
    width: @icon-width;
    text-align: center;
    .icon-placeholder {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .edit-content {
    display: inline-block;
    margin-left: 25px;
    width: 88%;
    .title {
      color: #ebf7fa;
      display: inline-block;
      width: 80%;
      padding-left: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.collapsed {
        width:50%;
      }
    }
    .action {
      color: @actions;
      float: right;
      display: inline;
      padding-left: 5px;
      padding-right: 5px;
      &:hover {
        color: @link-hover-color;
      }
    }
    .group-is-empty {
      display: inline;
      color: @brand-warning;
    }
  }
}

.dashboards-nav-edit-link-dashboard {
  background-color: @siren-dashboard-inactive-background;
  display: block;

  width: @dashboards-nav-closed-width - 15px;
  .is-dashboards-nav-open & {
    width: @dashboards-nav-open-width - 15px;
  }

  .dashboard-nav-title {
    margin-left: 16px;
    padding-left: 4px;
    color: @kibanaGray5;
    display: inline-block;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

     &.collapsed {
        width:50%;
      }
  }
  .action {
    color: @actions;
    float: right;
    display: inline;
    padding-right: 5px;
    input {
      margin: -4px;
    }
  }
  .action-select {
    color: @actions;
    float: right;
    display: inline;
    padding-right: 10px;
    input {
      margin: -4px;
    }
  }
}

.dashboards-nav-edit-link-dragbar {
  display: inline;
  color: @actions;
  padding-left: 5px;
  padding-right: 5px;
  &:hover {
    color: @link-hover-color;
  }

  &.collapsed {
    display:none
  }
}
