@import (reference) "~ui/kibi/styles/kibi_variables";
@import (reference) "~ui/styles/variables";
@import (reference) "../variables";

@icon-width: 25px;
@icon-image-width: 18px;
@actions: @kibanaGray6;
@title-color: #ebf7fa;
@group-lines: #fff;
@group-bg: #3e7da7;
@group-highlight-bg: @gray7;
@dashboard-highlight-bg: @gray7;

.dashboards-nav-edit-link-group {
  clear: both;
  display: block;

  .dashboard-group {
    background-color: @group-bg;
    margin-top: -5px;
    padding-top: 2px;
    &:hover {
      background-color: @siren-dashboard-active-background;
    }
    &.highlight {
      background-color: @group-highlight-bg;
    }
  }

  .dashboard {
    background-color: @siren-dashboard-inactive-background;
    &:hover,
    &.active {
      background-color: @siren-dashboard-active-background;
    }
  }

  .indicators {
    float: right;
    padding-right: 5px;
    padding-top: 3px;
    font-size: 12px;
    color: @title-color;
  }

  &.gu-mirror {
    .indicators {
      display: none;
    }
  }

  &.gu-transit {
    .indicators {
      display: none;
    }
  }

  .icon {
    color: @white;
    float: left;
    width: @icon-width;
    text-align: center;
    .icon-placeholder {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .icon-image {
      width: @icon-image-width;
    }
  }
  .edit-content {
    margin-left: 25px;
    .title {
      color: @title-color;
      display: inline-block;
      width: 60%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
    }
    .dashboard-nav-title-virtual-group {
      color: @title-color;
      display: inline-block;
      width: 40%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 2px;
      margin-bottom: -3px;
      font-weight: normal;
    }
    .action {
      color: @actions;
      float: right;
      margin-right: 5px;
      display: inline-block;
      vertical-align: super;
      font-size: 10px;
      &:hover {
        color: @link-hover-color;
      }
    }
  }
  .dashboard .edit-content {
    margin-left: 5px;
  }
}

.dashboards-nav-edit-link-dashboard {
  background-color: @siren-dashboard-inactive-background;
  display: block;
  margin-bottom: -5px;

  &.highlight {
    background-color: @dashboard-highlight-bg;
  }

  &:hover,
  &.active {
    background-color: @siren-dashboard-active-background;
  }

  .indicators {
    margin-top: -2px;
    font-size: 12px;
    color: @title-color;
  }

  .dashboard-nav-title {
    color: @title-color;
    display: inline-block;
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 3px;
    margin-left: 12px;
    border-left: 1px solid @group-lines;
  }

  &.gu-mirror {
    .dashboard-nav-title {
      margin: 0;
      border: 0;
    }
    .indicators {
      display: none;
    }
  }

  &.gu-transit {
    .dashboard-nav-title {
      margin: 0;
      border: 0;
    }
    .indicators {
      display: none;
    }
  }
}
