<div id="sindicetech_entity_info_vis_params" class="kibi-query-viewer-params">

  <ul>
    <li ng-repeat="queryDefinition in vis.params.queryDefinitions" class="queryOptionArea" >
      <div class="header">
        <h2>Query {{$index + 1}}</h2>
      </div>

      <div class="kibi-query-viewer-content">
        <div class="form-group">
          <label>
            Label
            <kbn-info
              placement="right"
              info="The label is passed to the template via the config object, i.e., 'config.templateVars.label'."></kbn-info>
          </label>
          <input type="text" ng-model="queryDefinition._label" placeholder="Optional" class="form-control" ng-change="labelChanged($index)" />
        </div>

        <div class="form-group">
          <label>Source query <a ng-if="queryDefinition.queryId && queryDefinition.queryId !== ''" ng-click="editQuery($index)" class="form-group label" > Edit selected query</a></label>
          </br>
          <kibi-select required object-type="query" ng-model="queryDefinition.queryId"></kibi-select>
        </div>

        <div class="form-group">
          <label>Template <a ng-if="queryDefinition.templateId && queryDefinition.templateId !== ''" ng-click="editTemplate($index)" class="form-group label" > Edit selected template</a></label>
          </br>
          <kibi-select
            required
            object-type="template"
            filter="filterTemplates"
            ng-model="queryDefinition.templateId"
          ></kibi-select>
        </div>

        <div class="vis-editor-agg-editor-advanced-toggle">
          <a ng-click="advancedToggled = !advancedToggled || jsonError[$index].message">
            <i aria-hidden="true" class="fa fa-caret-down"
            ng-class="{'fa-caret-down': advancedToggled, 'fa-caret-left': !advancedToggled}"></i>
            Advanced
          </a>
        </div>

        <div ng-show="advancedToggled">

          <label>
            Template variables
            <kbn-info info="Specify the JSON configuration passed to the template."></kbn-info>
          </label>
          <div id="templateVars-{{$index}}"
               ng-class="{ 'red-border': !!jsonError[$index].message }"
               ui-ace="{
                 onLoad: aceLoaded,
                 advanced: {
                   tabSize: 2
                 },
                 rendererOptions: {
                   showPrintMargin: false,
                   maxLines: 4294967296
                 },
                 mode: 'json'
               }"
               msd-elastic
               ng-model="queryDefinition._templateVarsString"
               class="form-control templateVariablesEditor"
               ng-change="templateChanged()" >
          </div>
          <div class="form-group hintbox" ng-if="!!jsonError[$index].message">
            <h4 class="hintbox-heading">
              <i class="fa fa-danger text-danger"></i> JSON parsing error
            </h4>
            <pre>{{ jsonError[$index].message }}</pre>
            <input type="hidden" required ng-model="jsonError[$index].block"/>
          </div>

          <div class="form-group">
            <label><input type="checkbox" ng-model="queryDefinition.open" /> Render opened</label>
          </div>

        </div>

        <div class="btn-group rightCorner">
          <kibi-array-param-up index="{{ $index }}" model="vis.params.queryDefinitions"></kibi-array-param-up>
          <kibi-array-param-down index="{{ $index }}" model="vis.params.queryDefinitions"></kibi-array-param-down>
          <kibi-array-param-remove index="{{ $index }}" model="vis.params.queryDefinitions"></kibi-array-param-remove>
        </div>

      </div>
    </li>
  </ul>
  <kibi-array-param-add required default="{{ { open: true } }}" label="filter" model="vis.params.queryDefinitions"></kibi-array-param-add>

</div>
