<div class="" ng-show="flushing && !showError">
  <div class="spinner"></div> Saving session data...
</div>
<div class="" ng-show="showError">
  <i class="fa fa-warning"></i> An error occurred while saving session data, please try again.
</div>
<form role="form" class="vis-share" ng-hide="flushing || showError">
  <div class="form-group" ng-if="allowEmbed">
    <label>
      Embed this {{objectType}}
      <small>Add to your html source. Note all clients must still be able to access Kibi</small>
    </label>
    <share-object-url url="url" share-as-embed="::true"></share-object-url>
  </div>

  <!-- kibi: added to be able to share dashboards with visible kibi-nav-bar -->
  <div class="form-group" ng-if="allowEmbed && objectType === 'dashboard'">
    <label>
      Embed all {{objectTypePlural}}.
      <small>Add to your html source. Note all clients must still be able to access Kibi</small>
    </label>
    <share-object-url url="url" share-as-embed="::true"  kibi-navbar-visible="::true"></share-object-url>
  </div>
  <!-- kibi: end -->

  <div class="form-group">
    <label>
      Share a link
    </label>
    <share-object-url url="url" share-as-embed="::false"></share-object-url>
  </div>
</form>
