<div id="relational-filters-params" class="form-group">
  <label>Column name</label></br>
  <input required type="text" ng-model="vis.params.queryFieldName" class="form-control"/>
</div>

<ul class="custome-queries-aggregation-form">
  <li ng-repeat="queryId in agg.params.queryIds" class="queryOptionArea" >

    <div class="header">
      <h2>Filter {{$index +1}}</h2>
    </div>

    <div class="content">
      <div class="form-group">
        <label>Source query id</label>
        <st-select object-type="query" ng-model="queryId.id" required></st-select>
      </div>

      <div class="form-group">
        <label>Source query variable</label>
        <st-select
          required
          object-type="queryVariable"
          query-id="queryId.id"
          ng-model="queryId.queryVariableName">
        </st-select>
      </div>

      <div class="form-group">
        <label>Negate the query</label>
        <input type="checkbox" ng-model="queryId.negate" />
      </div>

      <div class="form-group">
        <label>Target field</label>
        <st-select
          required
          object-type="field"
          analyzed-warning="true"
          index-pattern-id="vis.indexPattern.id"
          ng-model="queryId.joinElasticsearchField" >
        </st-select>
      </div>

      <div class="rightCorner">
        <array-param-remove model="agg.params.queryIds"></array-param-remove>
      </div>
    </div>

  </li>
</ul>
<array-param-add required label="external query terms filter" model="agg.params.queryIds"></array-param-add>
