<kbn-notifications list="notifList"></kbn-notifications>
<div class="content" chrome-context>
  <nav
    ng-style="::{ background: chrome.getNavBackground() }"
    ng-class="{ show: chrome.getVisible() }"
    class="hide navbar navbar-inverse navbar-static-top">

    <!-- Mobile navbar -->
    <div class="navbar-header">
      <button ng-click="showCollapsed = !showCollapsed" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="visible-xs">
        <span ng-if="chrome.getBrand('title')" class="navbar-brand">{{ chrome.getBrand('title') }}</span>
        <span ng-if="chrome.getActiveTabTitle()" class="navbar-brand">{{ chrome.getActiveTabTitle() }}</span>
        <span ng-show="chrome.httpActive.length" class="spinner"></span>
      </span>
    </div>
    <!-- /Mobile navbar -->

    <!-- Full navbar -->
    <div collapse="!showCollapsed" class="navbar-collapse" kbn-chrome-append-nav-controls id="kibi-primary-navbar">
      <ul class="nav navbar-nav kibi-fill-1" role="navigation">
        <!-- siren: click event. Opens a new clean (no cache) tab with Kibi. -->
        <li
          ng-if="chrome.getBrand('logo')"
          ng-click="chrome.openKibiOnNewCleanTab()"
          ng-style="chrome.getApp().id != 'kibana' ? { 'background': chrome.getBrand('logo') } : ''"
          aria-label="{{ chrome.getAppTitle() }} Logo"
          class="logo hidden-sm"
          ></li>

        <!-- siren: click event. Opens a new clean (no cache) tab with Kibi. -->
        <li
          ng-if="chrome.getBrand('smallLogo')"
          ng-click="chrome.openKibiOnNewCleanTab()"
          ng-style="chrome.getApp().id != 'kibana' ? { 'background': chrome.getBrand('smallLogo') } :''"
          aria-label="{{ chrome.getAppTitle() }} Logo"
          class="logo-small visible-sm hidden-xs"
          ></li>

        <li ng-if="chrome.getBrand('title')" class="navbar-brand">{{ chrome.getBrand('title') }}</li>

        <li ng-repeat="tab in chrome.getTabs()" ng-class="{ active: tab.active }">
          <a ng-href="{{ tab.href() }}" ng-style="{ 'border-bottom-color': tab.activeIndicatorColor }">
            {{ tab.title }}
          </a>
        </li>

        <li class="to-body" ng-class="{ active: appSwitcherTemplate.is('switcher') }" ng-if="chrome.getShowAppsLink()">
          <a ng-click="appSwitcherTemplate.toggle('switcher')">
            <i class="fa fa-th" alt="Show app switcher"></i>
          </a>
        </li>
      </ul>

      <kibi-dashboard-search ng-if="chrome.getApp().id === 'kibana'" class="kibi-fill-2"></kibi-dashboard-search>

    </div>
    <!-- /Full navbar -->
  </nav>

  <!-- TODO: These config dropdowns shouldn't be hard coded -->
  <config
    config-template="appSwitcherTemplate"
    config-object="chrome"
    config-close="appSwitcherTemplate.close">
  </config>

  <config
    ng-show="timefilter.enabled"
    config-template="pickerTemplate"
    config-object="timefilter"
    config-close="pickerTemplate.close">
  </config>

  <kibi-nav-bar ng-if="chrome.getApp().id === 'kibana' && chrome.getActiveTabId() === 'dashboard'" ng-show="chrome.getVisible() || chrome.isKibiNavbarVisible()"></kibi-nav-bar>
  <kibi-relational-filter-panel ng-if="chrome.getApp().id === 'kibana' && chrome.getActiveTabId() === 'dashboard'" ></kibi-relational-filter-panel>

  <div class="application" ng-class="'tab-' + chrome.getActiveTabId('-none-') + ' ' + chrome.getApplicationClasses()" ng-view></div>
</div>
