<!-- kibi:
  In all tables:
  kibi-table-header is used instead of kbn-table-header
  kibi-table-row is used instead of kbn-table-row
  column-aliases was added
  cell-click-handlers was added
-->
<div
  ng-if="hits.length"
  ng-class="{ loading: searchSource.activeFetchCount > 0 }">
  <div class="small-note" style="width: 100%;" ng-if="templateId">

    <kibi-table-sorting ng-if="sorting && showCustomView"></kibi-table-sorting>
    <!-- TODo position it absolute to the vis window -->
    <a ng-if="showCustomeView" class="pull-right" ng-click='toggleCustomeView()'>Change to Standard View</a>
    <a ng-if="!showCustomeView" class="pull-right" ng-click='toggleCustomeView()'>Change to Standard View</a>
  </div>

  <paginate ng-if="!infiniteScroll" list="hits" per-page="50" top-controls="true">

    <div
      kibi-custom-view
      ng-if="customView"
      ng-show="showCustomView"
      template-id="templateId"
      mode="{{customViewerMode}}"
      hits="page"
      columns="columns"
      column-aliases="columnAliases"
      index-pattern="indexPattern"
      filter="filter"
      cell-click-handlers="cellClickHandlers"
      options="options"
    ></div>

    <table class="kbn-table table" ng-if="indexPattern" ng-show="!showCustomView">
      <thead
        kibi-table-header
        columns="columns"
        column-aliases="columnAliases"
        index-pattern="indexPattern"
        options="options"
      ></thead>
      <tbody>
        <tr ng-repeat="row in page|limitTo:limit track by row._index+row._type+row._id+row._score"
          kibi-table-row="row"
          columns="columns"
          column-aliases="columnAliases"
          sorting="sorting"
          index-pattern="indexPattern"
          filter="filter"
          cell-click-handlers="cellClickHandlers"
          class="discover-table-row"></tr>
      </tbody>
      <tfoot>
        <tr>
          <!--span all columns with the little white space at the start and the optional time column-->
          <td colspan="{{ 1 + (indexPattern.timeFieldName ? 1 : 0) + columns.length}}">
            <a class="small" ng-click="exportAsCsv()">
              Export as CSV <i aria-hidden="true" class="fa fa-download"></i>
            </a>
          </td>
        </tr>
      </tfoot>
    </table>
  </paginate>

  <div ng-if="infiniteScroll">

    <div
      kibi-custom-view
      ng-if="customView"
      ng-show="showCustomView"
      template-id="templateId"
      mode="{{customViewerMode}}"
      hits="hits"
      columns="columns"
      column-aliases="columnAliases"
      index-pattern="indexPattern"
      filter="filter"
      cell-click-handlers="cellClickHandlers"
      options="options"
    ></div>

    <table class="kbn-table table" ng-if="indexPattern" ng-show="!showCustomView">
      <thead
        kibi-table-header
        columns="columns"
        column-aliases="columnAliases"
        index-pattern="indexPattern"
        options="options"
      ></thead>
      <tbody>
        <tr ng-repeat="row in hits|limitTo:limit track by row._index+row._type+row._id+row._score"
          kibi-table-row="row"
          columns="columns"
          column-aliases="columnAliases"
          sorting="sorting"
          index-pattern="indexPattern"
          filter="filter"
          cell-click-handlers="cellClickHandlers"
          class="discover-table-row"></tr>
      </tbody>
    </table>
    <kbn-infinite-scroll ng-if="infiniteScroll" more="addRows"></kbn-infinite-scroll>
  </div>

  <div ng-show="!infiniteScroll && hits.length < total" class="limit-info">
    Showing {{hits.length}} out of {{total}}
    <a ng-click="increaseSize()">See more</a>
  </div>

</div>
<div ng-if="hits != null && !hits.length" class="table-vis-error">
  <h2><i class="fa fa-meh-o"></i></h2>
  <h4>No results found</h4>
</div>
