<!-- kibi:
  In all tables:
  kibi-table-header is used instead of kbn-table-header
  kibi-table-row is used instead of kbn-table-row
  column-aliases was added
  cell-click-handlers was added
-->
<div
  ng-if="hits.length"
  ng-class="{ loading: searchSource.activeFetchCount > 0 }">

  <div ng-show="!infiniteScroll && hits.length < total" class="limit-info">
    Showing {{hits.length}} out of {{total}}
    <a ng-click="increaseSize()">See more</a>
  </div>

  <paginate ng-if="!infiniteScroll" list="hits" per-page="{{pageSize}}" top-controls="true">

    <div
      kibi-custom-view
      ng-if="options.customView"
      ng-show="options.showCustomView"
      template-id="templateId"
      mode="{{customViewerMode}}"
      hits="page"
      columns="columns"
      column-aliases="columnAliases"
      index-pattern="indexPattern"
      filter="filter"
      cell-click-handlers="cellClickHandlers"
      options="options"
    ></div>

    <table class="kbn-table table agg-table-paginated" ng-if="indexPattern" ng-show="!options.showCustomView">
      <thead
        kibi-table-header
        columns="columns"
        column-aliases="columnAliases"
        cell-click-handlers="cellClickHandlers"
        index-pattern="indexPattern"
        options="options"
      ></thead>
      <tbody>
        <tr ng-repeat="row in page|limitTo:limit track by row._index+row._type+row._id+row._score"
          kibi-table-row="row"
          columns="columns"
          column-aliases="columnAliases"
          sorting="sorting"
          index-pattern="indexPattern"
          filter="filter"
          cell-click-handlers="cellClickHandlers"
          class="discover-table-row"></tr>
      </tbody>
      <tfoot>
        <tr>
          <!--span all columns with the little white space at the start and the optional time column-->
          <td colspan="{{ 1 + (indexPattern.timeFieldName ? 1 : 0) + columns.length}}">
            <a class="small" ng-click="exportAsCsv()">
              Export as CSV <i aria-hidden="true" class="fa fa-download"></i>
            </a>
          </td>
        </tr>
      </tfoot>
    </table>
  </paginate>

  <div ng-if="infiniteScroll">

    <div
      kibi-custom-view
      ng-if="options.customView"
      ng-show="options.showCustomView"
      template-id="templateId"
      mode="{{customViewerMode}}"
      hits="hits"
      columns="columns"
      column-aliases="columnAliases"
      index-pattern="indexPattern"
      filter="filter"
      cell-click-handlers="cellClickHandlers"
      options="options"
    ></div>

    <table class="kbn-table table agg-table-paginated" ng-if="indexPattern" ng-show="!options.showCustomView">
      <thead
        kibi-table-header
        columns="columns"
        column-aliases="columnAliases"
        cell-click-handlers="cellClickHandlers"
        index-pattern="indexPattern"
        options="options"
      ></thead>
      <tbody>
        <tr ng-repeat="row in hits|limitTo:limit track by row._index+row._type+row._id+row._score"
          kibi-table-row="row"
          columns="columns"
          column-aliases="columnAliases"
          sorting="sorting"
          index-pattern="indexPattern"
          filter="filter"
          cell-click-handlers="cellClickHandlers"
          class="discover-table-row"></tr>
      </tbody>
    </table>
    <kbn-infinite-scroll ng-if="infiniteScroll" more="addRows"></kbn-infinite-scroll>
  </div>

  <div ng-show="!infiniteScroll && hits.length < total" class="limit-info">
    Showing {{hits.length}} out of {{total}}
    <a ng-click="increaseSize()">See more</a>
  </div>

</div>
<div ng-if="hits != null && !hits.length" class="table-vis-error">
  <h2><i class="fa fa-meh-o"></i></h2>
  <h4>No results found</h4>
</div>
