<nav
  id="kibi-global-nav"
  class="global-nav"
  ng-class="{'is-global-nav-open': isGlobalNavOpen}"
  ng-show="isVisible"
>

  <!-- Logo -->
  <div class="global-nav__logo">
    <!-- siren: 
      changed class from kibana to kibi
      kibi-reload to on-click open a new clean (no cache) tab with Kibi. 
    -->
    <li
      ng-if="!logoBrand && !smallLogoBrand"
      kibi-reload
      aria-label="{{ appTitle }} Logo"
      class="logo kibi"
    ></li>

    <!-- siren: kibi-reload to on-click open a new clean (no cache) tab with Kibi. -->
    <li
      ng-if="logoBrand"
      kibi-reload
      ng-style="{ 'background': logoBrand }"
      aria-label="{{ appTitle }} Logo"
      class="logo hidden-sm"
    ></li>

    <!-- siren: kibi-reload to on-click open a new clean (no cache) tab with Kibi. -->
    <li
      ng-if="smallLogoBrand"
      kibi-reload
      ng-style="{ 'background': smallLogoBrand }"
      aria-label="{{ appTitle }} Logo"
      class="logo-small visible-sm hidden-xs"
    ></li>
  </div>

  <!-- Links -->
  <!-- siren: allows user to click on empty areas -->
  <div class="global-nav__links" ng-click="toggleGlobalNav($event)">
    <!-- Main apps -->
    <div class="global-nav__links-section">
      <app-switcher
        chrome="chrome"
      ></app-switcher>
    </div>

    <!-- Bottom button -->
    <div class="global-nav__links-section">
      <div class="chrome-actions" kbn-chrome-append-nav-controls></div>

      <!-- Open/close sidebar -->
      <global-nav-link
        class="{{ globalNavToggleButton.classes }}"
        tooltip-content="globalNavToggleButton.tooltipContent"
        on-click="toggleGlobalNav($event, true)"
        icon="'plugins/kibana/assets/play-circle.svg'"
        label="globalNavToggleButton.title"
      ></global-nav-link>
    </div>
  </div>

</nav>
