<nav
  class="global-nav"
  ng-class="{'is-global-nav-open': isGlobalNavOpen}"
  ng-show="isVisible"
>

  <!-- Logo -->
  <div class="global-nav__logo" tooltip="Home">
    <!-- kibi:
      changed class from kibana to kibi
      right-click open a new clean (no cache) tab with Kibi.
    -->
    <li
      ng-if="!logoBrand && !smallLogoBrand"
      ng-click="gotoDashboard()"
      kibi-context-menu kibi-context-menu-list="kibiContextMenuOptions"
      kibi-context-menu-click-menu="kibiNewCleanSession()"
      aria-label="{{ appTitle }} Logo"
      class="logo kibi"
    ></li>

    <!-- kibi: right-click open a new clean (no cache) tab with Kibi. -->
    <li
      ng-if="logoBrand"
      ng-click="gotoDashboard()"
      kibi-context-menu kibi-context-menu-list="kibiContextMenuOptions"
      kibi-context-menu-click-menu="kibiNewCleanSession()"
      ng-style="{ 'background': logoBrand }"
      aria-label="{{ appTitle }} Logo"
      class="logo hidden-sm"
    ></li>

    <!-- kibi: right-click open a new clean (no cache) tab with Kibi. -->
    <li
      ng-if="smallLogoBrand"
      ng-click="gotoDashboard()"
      kibi-context-menu kibi-context-menu-list="kibiContextMenuOptions"
      kibi-context-menu-click-menu="kibiNewCleanSession()"
      ng-style="{ 'background': smallLogoBrand }"
      aria-label="{{ appTitle }} Logo"
      class="logo-small visible-sm hidden-xs"
    ></li>
  </div>

  <!-- Links -->
  <!-- kibi: allows user to click on empty areas -->
  <div class="global-nav__links" ng-click="toggleGlobalNav($event)">
    <!-- Main apps -->
    <div class="global-nav__links-section">
      <app-switcher
        chrome="chrome"
      ></app-switcher>
    </div>

    <!-- Bottom button -->
    <div class="global-nav__links-section">
      <div class="chrome-actions" kbn-chrome-append-nav-controls></div>

      <!-- Open/close sidebar -->
      <global-nav-link
        class="{{ globalNavToggleButton.classes }}"
        tooltip-content="globalNavToggleButton.tooltipContent"
        on-click="toggleGlobalNav($event, true)"
        icon="'plugins/kibana/assets/play-circle.svg'"
        label="globalNavToggleButton.title"
      ></global-nav-link>
    </div>
  </div>

</nav>
