<div class="col-lg-12">
  <div class="row entity-header"
       ng-if="relations.length"
  >
    <div class="col-lg-4">
      <p>Source Entity</p>
    </div>
     <div class="col-lg-3">
      <p>Labels</p>
    </div>
    <div class="col-lg-4">
      <p>Target Entity</p>
    </div>
    <div class="col-lg-1">
    </div>
  </div>
  <form name="entityForm">
  <div class="row relation vertical-center"
       ng-repeat="relation in relations"
  >

    <!-- source entity -->
    <div class="col-lg-4 ">
      <div>
        <label class="col-lg-2">
        </label>
        <div class="col-lg-10 entity-select-disabled">
          <entity-select required
                         selected="relation.domain.id"
                         entity-type="'ALL'"
          ></entity-select>
        </div>
      </div>
      <div ng-if="typeMap[relation.domain.id] === 'INDEX_PATTERN'">
        <label class="col-lg-2">
          Field
        </label>
        <div class="col-lg-10">
          <kibi-select required
                       data-test-subj="index-relation-left-field"
                       object-type="field"
                       analyzed-warning="true"
                       index-pattern-id="entity.id"
                       ng-model="relation.domain.field"
          ></kibi-select>
        </div>
      </div>
    </div>

    <!-- labels -->
    <div class="col-lg-3 labels-border">
      <p class="fa fa-long-arrow-right fa-2x relation-direction col-lg-12" />

      <div class="label-inputs">
        <ui-select
          ng-model="relation.directLabel"
          on-select="setOppositeLabel(relation, 'inverse')"
        >
          <ui-select-match>
            {{$select.selected}}
          </ui-select-match>
          <ui-select-choices repeat="label in relationLabels | filter:$select.search | orderBy:label" refresh="refreshSuggestions($select)" refresh-delay="0">
            <div ng-bind-html="label | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>

        <ui-select
          ng-model="relation.inverseLabel"
          on-select="setOppositeLabel(relation, 'direct')"
        >
          <ui-select-match>
            {{$select.selected}}
          </ui-select-match>
          <ui-select-choices repeat="label in relationLabels | filter:$select.search | orderBy:label" refresh="refreshSuggestions($select)" refresh-delay="0">
            <div ng-bind-html="label | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>

      <p class="fa fa-long-arrow-left fa-2x relation-direction col-lg-12" />
    </div>

    <!-- target entity -->
    <div class="col-lg-4">
      <div>
        <label class="col-lg-2">
        </label>
        <div class="col-lg-10">
          <entity-select required
                         selected="relation.range.id"
                         entity-type="{{ entity.type === 'INDEX_PATTERN' ? 'ALL' : 'INDEX_PATTERN' }}"
          ></entity-select>
        </div>
      </div>
      <div ng-if="typeMap[relation.range.id] === 'INDEX_PATTERN'">
        <label class="col-lg-2">
          Field
        </label>
        <div class="col-lg-10">
          <kibi-select required
                       data-test-subj="index-relation-right-field"
                       object-type="field"
                       analyzed-warning="true"
                       index-pattern-id="relation.range.id"
                       ng-model="relation.range.field"
          ></kibi-select>
        </div>
      </div>
    </div>

    <!-- relation options -->
    <div class="col-lg-1">
      <button
         ng-click="edit(relation.id)"
         class="btn btn-xs"
         aria-label="Edit"
         tooltip="{{ getAdvancedOptionsInfo(relation) }}"
         tooltip-popup-delay="200"
      >
        <span class="sr-only">Edit</span>
        <i aria-hidden="true" class="fa fa-pencil"></i>
      </button>
      <kibi-array-param-remove index="{{ $index }}"
                               model="relations"
                               aria-label="Delete"
                               tooltip="Delete relation"
                               tooltip-popup-delay="200"
                               post-action="setDirty()">
      </kibi-array-param-remove>
    </div>
</div>
</form>
<kibi-array-param-add label="relation"
                        ng-if="relations"
                        model="relations"
                        default="{{ { domain: { id: entity.id }, range: {} } }}"></kibi-array-param-add>
