<div ng-show="entityUriHolder.visible" class="form-group">
  <label>Selected entity</label>
  <span class="small-note" ng-show="entityUriHolder.entityURIEnabled">
    is required by a query. If not provided some results might be missing.
  </span>
  <span class="small-note" ng-show="!entityUriHolder.entityURIEnabled">
    is NOT required by any query.
  </span>
  <span class="small-note pull-right" ng-click="showHelp = !showHelp">Help <i class="fa fa-info"></i></span>

  <div class="hintbox" ng-show="showHelp">
    <!-- TODO: change to 3 when uncommenting info about REST -->
    <p>Selected entity schema is:</p>
    <strong>INDEX/TYPE/ID/COLUMN/LABEL</strong>
    <p>Where:</p>
    <ul>
      <li>INDEX - <i>mandatory</i> an index name</li>
      <li>TYPE - <i>mandatory</i>an index type</li>
      <li>ID - <i>mandatory</i>a document id</li>
      <li>COLUMN - <i>optional</i> a name of clicked column from kibi table</li>
      <li>LABEL - <i>optional</i> a clicked label from kibi table</li>
     </ul>
  </div>
  <form name="entityURI">
    <st-select ng-model="c.index"
               object-type="indexPattern"
               model-disabled="!entityUriHolder.entityURIEnabled"
               model-required="entityUriHolder.entityURIEnabled"
               class="selectEntityUriParts"></st-select>
    <st-select ng-model="c.type"
               object-type="indexPatternType"
               index-pattern-id="c.index"
               model-disabled="!entityUriHolder.entityURIEnabled"
               model-required="entityUriHolder.entityURIEnabled"
               class="selectEntityUriParts"></st-select>
    <st-select ng-model="c.id"
               object-type="documentIds"
               index-pattern-id="c.index"
               index-pattern-type="c.type"
               extra-items="c.extraItems"
               model-disabled="!entityUriHolder.entityURIEnabled"
               model-required="entityUriHolder.entityURIEnabled"
               class="selectEntityUriParts"></st-select>

    <div class="selectEntityUriParts">
      <input type="text"
             ng-model="c.column"
             ng-disabled="!entityUriHolder.entityURIEnabled"
             class="form-control"
             placeholder="COLUMN optional"/>
    </div>
    <div class="selectEntityUriParts">
      <input type="text"
             ng-model="c.label"
             ng-disabled="!entityUriHolder.entityURIEnabled"
             class="form-control"
             placeholder="LABEL optional"/>
    </div>
  </form>
</div>
