<div ng-show="show" class="relational-filter-panel config">

  <div class="container  container-fluid">
    <h2>Relational Filter Panel</h2>

    <eeg graph="graph" class="eeg"></eeg>

    <button ng-click="disableFilter()" ng-show="relationalPanelConfig.enabled" class="btn btn-danger">Disable</button>
    <button ng-click="enableFilter()"  ng-show="!relationalPanelConfig.enabled"  class="btn btn-success">Enable</button>
    <button ng-click="applyFilter()"   ng-show="relationalPanelConfig.enabled" class="btn btn-info">Apply</button>
  </div>
  <div class="config-close remove" ng-click="close()">
    <i class="fa fa-chevron-up"></i>
  </div>

</div>
