<div
  class="dashboards-nav-control"
  ng-class="{ disabled: !isActive, isOpen: isOpen }"
>
  <a
    class="anchor-actions"
    ng-if="isOpen && !isGroupEditorOpen && !isOnEditMode"
    ng-click="onNewGroupClick({ $event: $event })"
  >
    <div class="icon-action">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </div>
    <div class="title-action">
      New group
    </div>
  </a>

  <a
    class="anchor-actions"
    ng-if="isOpen && !isGroupEditorOpen"
    ng-click="onEditClick({ $event: $event })"
  >
    <div class="icon-action">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </div>
    <div ng-if="isOnEditMode" class="title-action">
      Close
    </div>
    <div ng-if="!isOnEditMode" class="title-action">
      Edit groups
    </div>
  </a>

  <a
    ng-if="!isOnEditMode && !isGroupEditorOpen"
    class="anchor"
    ng-class="{'anchor-closed': !isOpen}"
    ng-click="onClick({ $event: $event })"
    title="{{ title }}"
  >
    <div class="icon">
      <i
         ng-if="iconCss"
         class="icon-image {{iconCss}}"
      ></i>

      <img
         ng-if="kbnIcon"
         class="icon-image"
         kbn-src="{{ '/' + kbnIcon }}"
      />
    </div>
  </a>
</div>
