<div class="saved-objects-api-modal">
  <div class="modal-header">
    <h3 class="modal-title">Open {{ savedObjectService.type }}</h3>
  </div>
  <div class="modal-body">
    <div ng-if="state.opening">
      Opening {{ savedObjectService.type }} ...
      <div class="spinner"></div>
    </div>
    <div class="form-group" ng-if="!state.opening">
      <saved-object-finder
        type="{{ savedObjectService.loaderProperties.name }}"
        per-page="5"
        on-choose="open"
        use-local-management="true">
      </saved-object-finder>
    </div>
  </div>
  <div class="modal-footer" ng-if="!state.opening">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
