<div class="kibi-menu-template-sequential-join-vis">
 <input type="text" class="form-control kibi-relations-search-bar"
   kibi-relations-search-bar
   kibi-relations-search-bar-path="kibiMenuTemplateLocals.relations"
   ng-model="kibiMenuTemplateDataSearchString"
   ng-model-options="{ debounce: 350 }"
   ng-change="searchRelations()"
   placeholder="Search for relation ...">
  <ul>
    <li ng-click="relation.onSelect(kibiMenuTemplateLocals.button)" ng-repeat="relation in kibiMenuTemplateLocals.relations" ng-hide="relation.$$hidden">
      Name: <b>{{relation.directLabel}}</b><br/>

      index pattern: <b>{{relation.domain.id}}</b>
      <!-- leaving commented in case we add back the document type support
        <span ng-if="relation.domain.docType">type: <b>{{relation.domain.docType}}</b></span> -->
      field: <b>{{relation.domain.field}}</b>
      <i class="fa fa-arrows-h" aria-hidden="true"/>
      index pattern: <b>{{relation.range.id}}</b>
      <!-- leaving commented in case we add back the document type support
        <span ng-if="relation.range.docType">type: <b>{{relation.range.docType}}</b></span> -->
      field: <b>{{relation.range.field}}</b>
    </li>
  </ul>
</div>
