<div class="button-group" role="toolbar">
  <kbn-tooltip text="Relation Tab" placement="bottom" append-to-body="1"  ng-if="relationalFilterVisible" ng-class="{active: relationalFilterPanelOpened === true}">
    <button
      class="open-relational-panel"
      ng-click="openRelationalFilterPanel()">
      <span class="fa-stack fa-lg">
        <i class="fa fa-arrows-h fa-stack-1x"></i>
        <i class="fa fa-map-o fa-stack-1x"></i>
      </span>
    </button>
  </kbn-tooltip>

  <kbn-tooltip text="New Dashboard" placement="bottom" append-to-body="1">
    <button ng-click="newDashboard()" aria-label="New Dashboard"><i aria-hidden="true" class="fa fa-file-new-o"></i></button>
  </kbn-tooltip>
  <kbn-tooltip text="Save Dashboard" placement="bottom" append-to-body="1">
    <button
      aria-label="Save Dashboard"
      aria-haspopup="true"
      aria-expanded="{{ configTemplate.is('save') }}"
      ng-class="{active: configTemplate.is('save')}"
      ng-click="configTemplate.toggle('save');">
      <i aria-hidden="true" class="fa fa-save"></i>
    </button>
  </kbn-tooltip>
  <!-- kibi: we do not need this button as kibi uses tabs
  <kbn-tooltip text="Load Saved Dashboard" placement="bottom" append-to-body="1">
    <button
      aria-label="Load Saved Dashboard"
      aria-haspopup="true"
      aria-expanded="{{ configTemplate.is('load') }}"
      ng-class="{active: configTemplate.is('load')}"
      ng-click="configTemplate.toggle('load');">
      <i aria-hidden="true" class="fa fa-folder-open-o"></i>
    </button>
  </kbn-tooltip>
  -->
  <kbn-tooltip text="Share" placement="bottom" append-to-body="1">
    <button
      aria-label="Share Dashboard"
      aria-haspopup="true"
      aria-expanded="{{ configTemplate.is('share') }}"
      ng-class="{active: configTemplate.is('share')}"
      ng-click="configTemplate.toggle('share');">
      <i aria-hidden="true" class="fa fa-external-link"></i>
    </button>
  </kbn-tooltip>
  <kbn-tooltip text="Add Visualization" placement="bottom" append-to-body="1">
    <button
      aria-label="Add Visualization"
      aria-haspopup="true"
      aria-expanded="{{ configTemplate.is('pickVis') }}"
      ng-class="{active: configTemplate.is('pickVis')}"
      ng-click="configTemplate.toggle('pickVis');">
      <i aria-hidden="true" class="fa fa-plus-circle"></i>
    </button>
  </kbn-tooltip>
  <kbn-tooltip text="Options" placement="bottom" append-to-body="1">
    <button
      aria-label="Options"
      aria-haspopup="true"
      aria-expanded="{{ configTemplate.is('options') }}"
      ng-class="{active: configTemplate.is('options')}"
      ng-click="configTemplate.toggle('options');">
      <i aria-hidden="true" class="fa fa-gear"></i>
    </button>
  </kbn-tooltip>
  <kbn-tooltip text="Reset the time, filters, and queries from all dashboards to their default saved state" placement="left" append-to-body="1">
    <button
      class="resetFiltersQueriesTimes"
      aria-label="Remove filters and queries from all dashboards"
      aria-haspopup="true"
      ng-click="resetFiltersQueriesTimes();">
      <span class="fa-stack fa-lg">
        <i class="fa fa-filter fa-stack-1x"></i>
        <i class="fa fa-thincross fa-stack-1x text-danger"></i>
      </span>
    </button>
  </kbn-tooltip>
</div>
