<label>
  Apply to dashboards:
  <kbn-tooltip
    text="Shows only dashboards associated with a saved search created from time-based index"
    placement="right"
    append-to-body="1">
    <i class="fa fa-info"/>
  </kbn-tooltip>
</label>
<br>
<div class="kibi-sync-time-to">
  <table>
    <tr>
      <td>
        <label><input type="checkbox"  ng-model="allSelected" ng-click="selectAll()"/> Select all</label>
        <!-- NOTE: do not remove kbn-timepicker-go class as it is used in tests -->
        <button
          type="submit"
          ng-if="mode === 'absolute'"
          class="btn btn-primary kbn-timepicker-go"
          ng-disabled="absolute.from > absolute.to || !absolute.from || !absolute.to"
          ng-click="syncTimeTo()">Apply</button>
        <span class="small" ng-show="mode == 'absolute' && absolute.from > absolute.to">
          <strong>From</strong> must occur before <strong>To</strong>
        </span>
        <!-- NOTE: do not remove kbn-timepicker-go class as it is used in tests -->
        <button
          type="submit"
          ng-if="mode === 'relative'"
          class="btn btn-primary kbn-timepicker-go"
          ng-disabled="!(relative.from.preview && relative.to.preview) || checkRelative()"
          ng-click="syncTimeTo()">Apply</button>
      </td>
    </tr>
    <tr>
      <td>
        <div class="dashboards-list">
          <ul>
            <li ng-repeat="d in dashboards | orderBy: orderByTitle">
              <input type="checkbox" ng-disabled="d.disabled" ng-model="d.selected"/>
              <!-- kibi: tooltip and limit added -->
              <span tooltip={{d.title}} tooltip-placement="left" tooltip-popup-delay="400" tooltip-append-to-body="1">
                <label>{{d.title | limitTo: 30 }}{{d.title.length  > 30 ? '...' : ''}} <span ng-if="d.disabled" class="smallText"> (current)</span></label>
              </span>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>
