<div ng-show="entityUriHolder.visible && entityUriHolder.entityURIEnabled"
     class="form-group document-selection-widget">
  <p class="small-note">
    A query requires the selection of a document; you can set
    a sample selection for testing using the dropdowns below.
  </p>

  <form name="entityURI" ng-if="!!c">
    <kibi-select ng-model="c.indexPattern"
               object-type="indexPattern"
               model-required="entityUriHolder.entityURIEnabled"
               include="c.extraIndexPatternItems"
               model-disabled="!entityUriHolder.entityURIEnabled"
               class="selectEntityUriParts"></kibi-select>
    <kibi-select ng-model="c.type"
               object-type="indexPatternType"
               index-pattern-id="c.indexPattern"
               model-disabled="!(entityUriHolder.entityURIEnabled && c.indexPattern)"
               model-required="entityUriHolder.entityURIEnabled"
               include="c.extraTypeItems"
               class="selectEntityUriParts"></kibi-select>
    <kibi-select ng-model="c.id"
               object-type="documentIds"
               index-pattern-id="c.indexPattern"
               index-pattern-type="c.type"
               include="c.extraIdItems"
               model-disabled="!(entityUriHolder.entityURIEnabled && c.type)"
               model-required="entityUriHolder.entityURIEnabled"
               class="selectEntityUriParts"></kibi-select>
  </form>
</div>
