<label>
  Apply to dashboards:
  <kbn-tooltip
    text="Shows only dashboards associated with a saved search created from time-based index"
    placement="right"
    append-to-body="1">
    <i class="fa fa-info"/>
  </kbn-tooltip>
</label>
<br>
<div class="kibi-sync-time-to">
  <table>
    <tr>
      <td>
        <label><input type="checkbox"  ng-model="allSelected" ng-click="selectAll()"/> Select all</label>
        <button
          type="submit"
          ng-if="mode === 'absolute'"
          class="btn btn-primary"
          data-test-subj="timepickerGoButton"
          ng-disabled="absolute.from > absolute.to || !absolute.from || !absolute.to"
          ng-click="syncTimeTo()">Apply</button>
        <span class="small" ng-show="mode == 'absolute' && absolute.from > absolute.to">
          <strong>From</strong> must occur before <strong>To</strong>
        </span>
        <button
          type="submit"
          ng-if="mode === 'relative'"
          class="btn btn-primary"
          data-test-subj="timepickerGoButton"
          ng-disabled="!(relative.from.preview && relative.to.preview) || checkRelative()"
          ng-click="syncTimeTo()">Apply</button>
      </td>
    </tr>
    <tr>
      <td>
        <div class="dashboards-list">
          <ul>
            <div ng-if="dashboardGroups.length > 0">
             <kibi-select-dashboard
                ng-model="dashboardGroups"
                multi-select="true"
                dashboard-array="dashboardGroups"
                qtip-tooltip="true"
                qtip-options="tooltipOptions"
                title-limit="30"
                disable-message="(current)"/>
            </div>
          </ul>
        </div>
      </td>
    </tr>
  </table>
</div>
