<nav>

  <div class="tab-cell">
    <div role="tabpanel" class="tab-container">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" style="border-bottom: none;">
        <li role="presentation"
            ng-class="{active: group.active === true}"
            ng-repeat="group in dashboardGroups | orderBy: 'priority'"
            data-test={{group.title}}
            ng-show="!group.hide">
          <a ng-click="group.onClick(dashboardGroups)">
            <i  ng-if="group.iconCss" class="icon {{group.iconCss}}"></i>
            <img class="icon" ng-if="group.iconUrl" ng-src="{{group.iconUrl}}"/>
            {{group.title}}
            <span ng-if="group.active && group.dashboards.length > 1">
              <select
                ng-model="group.selected"
                ng-change="group.selected.onClick(dashboardGroups)"
                ng-options="dashboard.title for dashboard in group.dashboards track by dashboard.id"
                kibi-stop-click-event>
              </select>
            </span>
            <span ng-if="group.count != undefined">({{ group.count }})</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-scroller">
    <button ng-mouseup="scrollTabs(false)" ng-mousedown="scrollTabs(1)" ng-disabled="tabScrollerState[0]"><i class="fa fa-caret-left"></i></button>
    <button ng-mouseup="scrollTabs(false)" ng-mousedown="scrollTabs(-1)" ng-disabled="tabScrollerState[1]"><i class="fa fa-caret-right"></i></button>
  </div>



  <kibi-dashboard-toolbar ng-show="!appEmbedded"></kibi-dashboard-toolbar>

</nav>
