<div>
  <span
    ng-if="analyzedWarning && analyzedField"
    class="pull-right text-warning hintbox-label"
    qtip
    qtip-classes="qtip-light qtip-rounded qtip-shadow"
    qtip-html="analyzedWarningHtml">
      <i class="fa fa-warning"></i> Analyzed Field
  </span>

  <span
    ng-if="getVariable"
    class="pull-right text-warning hintbox-label"
    qtip
    qtip-classes="qtip-light qtip-rounded qtip-shadow"
    qtip-html="wildcardWarningHtml">
    <i class="fa fa-warning"></i> Wildcard Query
  </span>

  <span
    ng-if="retrieveError"
    class="pull-right text-danger hintbox-label"
    qtip
    qtip-classes="qtip-light qtip-rounded qtip-shadow"
    qtip-html="retrieveErrorHtml">
    <i class="fa fa-danger text-danger"></i> Select error
  </span>

  <div style="clear: both;"></div>

  <input ng-show="getVariable" type="text" ng-model="modelObject.value" class="form-control"/>
  <select
    class="kibi-select"
    ng-class="{ 'form-control' : true, 'ng-invalid' : isInvalid() }"
    ng-show="!getVariable"
    ng-model="modelObject"
    ng-options="item.label group by item.group for item in items | orderBy: 'label' track by item.value"
    ng-disabled="disabled">
    <option value="" ng-show="!required">{{options.placeholder}}</option>
  </select>
</div>
