<div class="kibi-menu-template-sequential-join-vis">
 <input type="text" class="form-control kibi-relations-search-bar"
   kibi-relations-search-bar
   kibi-relations-search-bar-path="kibiMenuTemplateData"
   ng-model="kibiMenuTemplateDataSearchString"
   ng-model-options="{ debounce: 350 }"
   ng-change="searchRelations()"
   placeholder="Search for relation ...">
  <ul>
    <li ng-click="relation.onSelect(kibiMenuTemplateLocals.button)" ng-repeat="relation in kibiMenuTemplateLocals.relations">
      Name: <b>{{relation.label}}</b><br/>

      index pattern: <b>{{relation.indices[0].indexPatternId}}</b>
      <span ng-if="relation.indices[0].indexPatternType">type: <b>{{relation.indices[0].indexPatternType}}</b></span>
      field: <b>{{relation.indices[0].path}}</b>
      <i class="fa fa-arrows-h" aria-hidden="true"/>
      index pattern: <b>{{relation.indices[1].indexPatternId}}</b>
      <span ng-if="relation.indices[1].indexPatternType">type: <b>{{relation.indices[1].indexPatternType}}</b></span>
      field: <b>{{relation.indices[1].path}}</b>
    </li>
  </ul>
</div>
