button.resetFiltersQueriesTimes {

  padding: 2px 15px 5px 0;

  &:focus {
    outline: 0;
  }

  .fa-thincross {
    font-size:24px;
    margin-top:-1px;
  }

  .fa-thincross:before { content: "\2613";}

}
