<div class="kibi-menu-template-kibi-navbar">
  <ul>
    <li
      ng-repeat="dashboard in kibiMenuTemplateLocals.dashboardGroups.getDashboardsInGroup(kibiMenuTemplateLocals.groupId) | filter:kibiMenuTemplateLocals.filter"
      ng-click="kibiMenuTemplateLocals.dashboardGroups.selectDashboard(dashboard.id)"
    >
      <b>{{dashboard.title}}</b>
      <br/>
      <span ng-if="dashboard.count !== undefined && dashboard.savedSearchId" class="smallNumber">Count: {{dashboard.count}}</span>
      <span ng-if="dashboard.count === undefined && dashboard.savedSearchId" class="spinner"></span>
      <span ng-if="dashboard.filterIconMessage">
        <i class="fa fa-filter" qtip="{{ dashboard.filterIconMessage }}"/>
      </span>
      <span ng-if="dashboard.isPruned" aria-hidden="true" data-toggle="tooltip"
            data-placement="bottom"
            title="Count may be lower than the actual value because a join operation was pruned"> *
      </span>
    </li>
  </ul>
</div>
