<div ng-controller="KibiSequentialJoinVisController" class="kibi-sequential-join-vis" ng-class="{loading: holder.activeFetch}">

  <button
    ng-repeat="button in buttons"
    ng-click="button.click()"
    ng-disabled="button.disabled"
    ng-mouseover="hoverIn(button)"
    ng-mouseleave="hoverOut()"
    ng-class="button.targetCount == 0 ? 'btn disabled-btn-relational' : 'btn btn-relational'"
    >
      {{button.label}}
      <span ng-show="button.targetCount !== undefined"> ({{button.targetCount}})</span>
      <span
        class="warning"
        ng-if="!!button.warning"
        tooltip="{{button.warning}}"
        tooltip-placement="right"
        tooltip-append-to-body="true"
        title="{{button.warning}}">(*)</span>
  </button>

</div>
