<div class="kibi-sequential-join-vis-params" id="kibi-sequential-join-vis-params">
  <ul>
    <li ng-repeat="button in vis.params.buttons" class="queryOptionArea" >
      <div class="header">
        <h2>Relational filter {{$index + 1}}</h2>
      </div>

      <div class="kibi-content">

        <div class="form-group">
          <label>Button label</label></br>
          <input required type="text" ng-model="button.label" class="form-control"/>
        </div>

        <div class="form-group">
          <label>Relation</label>
          <kbn-info placement="right" info="Choose index relation to be used to do the join"></kbn-info></br>
          <!-- hidden required input to invalidate the form properly -->
          <input type="hidden" name="relationId" required ng-model="button.indexRelationId"/>
          <span class="form-control relation-select"
                ng-class="{invalid: !button.indexRelationId, focused: focused[$index]}"
                kibi-menu-template="menu.template"
                kibi-menu-template-locals="{ relations: menu.relations, button: button }"
                kibi-menu-template-on-focus-fn="menu.onFocus($index)"
                kibi-menu-template-on-blur-fn="menu.onBlur($index)"

                >
            <span class="relation-label" ng-bind="getLabel(button.indexRelationId) || 'Choose relation'"/>
            <i class="fa fa-sort"/>
          </span>
        </div>

        <div class="form-group" ng-if="button.indexRelationId">
          <label>Target dashboard</label>
          <kbn-info placement="right" info="On click it will redirect to this dashboard. Just dashboards which are associated with Saved Searches can be chosen as Targets (See dashboard 'Save' options)."></kbn-info></br>
          <kibi-select required
            object-type="dashboardsForSequentialJoinButton"
            options="{indexRelationId: button.indexRelationId}"
            ng-model="button.targetDashboardId">
          </kibi-select>
        </div>

        <div class="form-group" ng-if="button.indexRelationId">
          <label>Source dashboard</label> <span>(optional)</span>
          <kbn-info placement="right" info="If set the button will appear ONLY on this single dashboard, otherwise it will appear in all dashboards which have an associated saved search based on an index pattern which matches that of the relation"></kbn-info></br>
          <kibi-select
            object-type="dashboardsForSequentialJoinButton"
            options="{otherDashboardId: button.targetDashboardId, indexRelationId: button.indexRelationId}"
            ng-model="button.sourceDashboardId">
          </kibi-select>
        </div>

        <div class="form-group">
          <label>Custom filter label</label> <span>(optional)</span>
           <kbn-info placement="right" info="Customize the filter label created when you navigate to the target dashboard. The default label is: '... related to ($COUNT) from $DASHBOARD'. Where $COUNT = filtered count, $DASHBOARD = source title dashboard.">
           </kbn-info></br>
          <input type="text" ng-model="button.filterLabel" class="form-control"/>
        </div>

        <!-- positioned via css to be in right top corner (keep it the last element) -->
        <div class="btn-group rightCorner">
          <kibi-array-param-up index="{{ $index }}" model="vis.params.buttons"></kibi-array-param-up>
          <kibi-array-param-down index="{{ $index }}" model="vis.params.buttons"></kibi-array-param-down>
          <kibi-array-param-remove index="{{ $index }}" model="vis.params.buttons"></kibi-array-param-remove>
        </div>

      </div>
    </li>
  </ul>
  <kibi-array-param-add required label="filter" model="vis.params.buttons"></kibi-array-param-add>
</div>
