.siren-index-option-container {
  .instance-label {
    .kibi-select-wrapper {
      display: inline-block;
      width: 400px;
    }

    select {
      width: 100%;
      max-width: 400px;
    }

    a {
      cursor: pointer;
    }
  }
}

.entity-label-preview {
  .qtip-content {

    font-size: 12px;

    th, td {
      padding: 6px;
    }

    tr:nth-child(2n) {
      background-color: #EEE;
    }
  }
}
