<span class="btn-group ui-iconpicker input-group-addon" ng-class="{ disabled: disabled }">
  <button type="button" class="btn btn-default" ng-click="dropdownToggle()"><i class="{{ iconClass }}"></i><span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="class in availableIconClasses">
      <button class="btn btn-default" type="button" ng-click="$parent.iconClass = class"><span class="{{ class }}"></span></button>
    </li>
  </ul>
  <input name="{{ name }}" type="hidden" value="{{ iconClass }}" ng-if="name" />
</span>
