<div class="kibi-quickdash-create kuiModal">
  <div class="kuiModalHeader">
    <div class="kuiModalHeader__title">
      Create a Prepopulated Dashboard
    </div>

    <div class="kuiModalHeaderCloseButton kuiIcon fa-times"
      ng-click="onCancel()" />
  </div>

  <form role="form" ng-submit="onConfirm(result)">
    <div class="form-group">
      <div>
        <label>Title</label>
      </div>
      <div>
        <input type="text" class="kuiLocalDropdownInput"
          ng-model="result.title" placeholder="Enter Dashboard Title"
          input-focus="select"
          ng-change="onTitleChange()"/>
      </div>
      <div>
        <label>
          <input type="checkbox" ng-model="result.storeTimeWithDashboard" />
          Store time with dashboard
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" ng-model="result.addSirenMultiChart" />
          Add Multichart visualization (slow)
        </label>
      </div>
    </div>

    <div class="form-group">
      <div>
        <label>
          Create Associated Saved Search
        </label>
      </div>

      <div>
        <input type="radio" ng-model="result.savedSearchAction" value="new">
          New saved search named "{{result.newSavedSearchTitle}}"
        </input>
      </div>
      <div ng-if="currSearchTitle">
        <input type="radio" ng-model="result.savedSearchAction" value="save">
          Save current search "{{currSearchTitle}}" and use it
        </input>
      </div>
      <div ng-if="currSearchTitle">
        <input type="radio" ng-model="result.savedSearchAction" value="nosave">
          Use current search "{{currSearchTitle}}" without saving
        </input>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" data-test-subj="confirmButton"
      ng-disabled="!result.title || loading" aria-label="Create Quick Dashboard">
      <i ng-show="loading" class="fa fa-spinner fa-pulse"></i>
      Create
    </button>
  </form>
</div>

