<div class="kibi-experimental-warning-modal kuiModal"
  style="max-width: 50rem">
  <div class="kuiModalHeader">
    <div class="kuiModalHeader__title">
      Warning
    </div>
  </div>

  <div class="kuiModalBody">
    <div class="kuiModalBodyText">
      This feature is in beta and might create a high load on your Elasticsearch cluster &ndash; not recommended in production environments
    </div>
  </div>

  <div class="kuiModalFooter">
    <button class="kuiButton kuiButton--primary"
      ng-click="onConfirm(true)"
      aria-label="Continue">
      Continue
    </button>
    <button class="kuiButton kuiButton--primary"
      ng-click="onCancel()"
      aria-label="Cancel">
      Cancel
    </button>
  </div>
</div>


