<div class="kibi-quickdash-report kibi-report kuiModal">
  <div class="kuiModalHeader">
    <div class="kuiModalHeader__title">
      Generate Dashboard &ndash; Report
    </div>
  </div>

  <div class="kuiModalBody">
    <table class="table-sticky table-striped">
      <thead>
        <tr>
          <th style="width: 1px">
            <tristate-checkbox ng-model="computed.allSelected" />
          </th>
          <th sort-icon rows="stats" sort-by="sort.type">Type</th>
          <th sort-icon rows="stats" sort-by="sort.field">Field</th>
          <th sort-icon rows="stats" sort-by="sort.visName">Vis Name</th>
          <th sort-icon rows="stats" sort-by="sort.chart">Chart</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="fieldStats in stats">
          <td><input type="checkbox" ng-model="fieldStats.selected"></td>
          <td><field-name field="fieldStats.typeField" /></td>
          <td>{{fieldStats.field.displayName}}</td>
          <td><input type="text" ng-model="fieldStats.sVis.title"
            ng-change="sort.visName.setUnordered()"></td>
          <td>{{fieldStats.sVis.vis.type.title}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="kuiModalFooter">
    <button class="btn btn-primary" aria-label="Ok"
      ng-click="onConfirm(true)">
      Ok
    </button>
    <button class="kuiButton kuiButton--primary"
      ng-click="onCancel()"
      aria-label="Cancel">
      Cancel
    </button>
  </div>
</div>
