.kibi-guess-fields-report {
  max-width: 100%;

  .kuiModalBody {
    max-height: 50vh;
    overflow: auto;
    margin: 20px 0;
    padding: 0 10px;
  }

  h3 {
    text-align: center;
  }

  table {
    width: 100%;

    th {
      padding: 0 .5rem;
    }

    td {
      padding: .5rem;
    }
  }

  .fa-check {
    color: green;
  }
}
