<div class="kibi-guess-fields-report kibi-report kuiModal">
  <div class="kuiModalHeader">
    <div class="kuiModalHeader__title">
      Autoselect Top 10 &ndash; Report
    </div>
  </div>

  <div class="kuiModalBody">
    <h3 ng-if="!stats.length">No field found</h3>
    <table ng-if="stats.length" class="table-sticky table-striped">
      <thead>
        <tr>
          <th style="width: 1px">
            <tristate-checkbox ng-model="computed.allSelected" />
          </th>
          <th sort-icon rows="stats" sort-by="sort.type">Type</th>
          <th sort-icon rows="stats" sort-by="sort.name">Name</th>
          <th sort-icon rows="stats" sort-by="sort.chart">Chart</th>
          <th sort-icon rows="stats" sort-by="sort.score">Score</th>
          <th sort-icon rows="stats" sort-by="sort.notes">Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="fieldStats in stats">
          <td><input type="checkbox" ng-model="fieldStats.selected"></td>
          <td><field-name field="fieldStats.typeField" /></td>
          <td>{{fieldStats.origField.displayName}}</td>
          <td>{{fieldStats.sVis.vis.type.title}}</td>
          <td>{{fieldStats.scoreStr}}</td>
          <td>
            <div ng-repeat="note in fieldStats.notes">{{note}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="kuiModalFooter">
    <button class="btn btn-primary" aria-label="Ok"
      ng-click="onConfirm()">
      Ok
    </button>
  </div>
</div>
