<div class="panel panel-default"
     ng-class="{'panel-border': border, 'panel--edit-mode': !isViewOnlyMode()}"
     ng-switch on="panel.type"
     ng-if="savedObj || error"
     data-test-subj="{{::savedObj.title}}"
>
  <!--kibi: color the panel if there are selected entities, added panel-border for panel heading border style if enabled -->
  <div class="panel-heading"
    ng-class="{ selectedEntitiesDependent: markDependOnSelectedEntities && dependsOnSelectedEntities,
                disabled: selectedEntitiesDisabled && dependsOnSelectedEntities, 'panel-border': border }"
  >
    <span class="panel-title" title="{{::savedObj.title}}">
      {{::savedObj.title}}
    </span>
    <div class="kuiMicroButtonGroup">
      <a
        class="kuiMicroButton"
        aria-label="Expand panel"
        data-test-subj="dashboardPanelExpandIcon"
        ng-click="toggleExpand()"
        kbn-accessible-click
      >
        <span
          aria-hidden="true"
          class="kuiIcon"
          ng-class="{'fa-expand': !isExpanded, 'fa-compress': isExpanded}"
        ></span>
      </a>
      <!-- kibi: allows restore the uiState after click edit visualization on dashboard -->
      <a aria-label="Edit"
         data-test-subj="dashboardPanelEditLink"
         ng-show="!isViewOnlyMode() && editUrl"
         ng-href="{{::editUrl}}"
         ng-click="edit()"
      >
        <span
          aria-hidden="true"
          class="kuiIcon fa-pencil"
        ></span>
      </a>

      <!-- data-dashboard-panel-drag-handle works in Firefox when applied here -->
      <a
        data-dashboard-panel-drag-handle
        tabindex="0"
        role="button"
        class="kuiMicroButton panel-move"
        aria-label="Move panel"
        data-test-subj="dashboardPanelMoveIcon"
        ng-show="!isViewOnlyMode() && !isExpanded"
      >
        <!-- data-dashboard-panel-drag-handle works in Chrome when applied here -->
        <span
          aria-hidden="true"
          class="kuiIcon fa-arrows"
          data-dashboard-panel-drag-handle
        ></span>
      </a>

      <a
        type="button"
        class="kuiMicroButton"
        aria-label="Remove panel from dashboard"
        data-test-subj="dashboardPanelRemoveIcon"
        ng-show="!isViewOnlyMode() && !isExpanded"
        ng-click="remove()"
        kbn-accessible-click
      >
        <span
          aria-hidden="true"
          class="kuiIcon fa-times"
        ></span>
      </a>
    </div>
    <div class="clearfix"></div>
  </div>

  <!-- kibi: added extra condition to check for savedObj.vis.error and savedObj.searchSource.error -->
  <div ng-if="savedObj.vis.error || error || savedObj.searchSource.error" class="load-error">
    <i aria-hidden="true" class="fa fa-exclamation-triangle"></i>
    <span ng-if="error" ng-bind="error"></span>
    <!--kibi: added error reporting by a visualization or searchSource -->
    <span ng-if="savedObj.vis.error" ng-bind="savedObj.vis.error"></span>
    <span ng-if="savedObj.searchSource.error" ng-bind="savedObj.searchSource.error"></span>
  </div>

  <!-- kibi: added extra conditions to ng-if to not display if there is an error set on visualisation or searchSource object -->
  <visualize
    ng-if="!(savedObj.vis.error || error || savedObj.searchSource.error)"
    ng-switch-when="visualization"
    vis="savedObj.vis"
    search-source="savedObj.searchSource"
    show-spy-panel="!isFullScreenMode"
    ui-state="uiState"
    data-shared-item
    data-title="{{savedObj.title}}"
    data-description="{{savedObj.description}}"
    render-counter
    class="panel-content">
  </visualize>

  <!-- kibi: added extra conditions to ng-if to not display if there is an error set on visualisation or searchSource object -->
  <doc-table
    ng-if="!(savedObj.vis.error || error || savedObj.searchSource.error)"
    ng-switch-when="search"
    search-source="savedObj.searchSource"
    sorting="panel.sort"
    columns="panel.columns"
    data-shared-item
    data-title="{{savedObj.title}}"
    data-description="{{savedObj.description}}"
    render-counter
    class="panel-content"
    filter="filter"
    on-add-column="addColumn"
    on-change-sort-order="setSortOrder"
    on-move-column="moveColumn"
    on-remove-column="removeColumn"
    >
  </doc-table>
</div>
